[2017-03-31 15:06] username-is-already-taken2 opened #2 "Upgrading chef-client on windows."
Thanks for sharing this, I only watch your youtube video this morning and thought I would give it ago.

### Cookbook version
1.0.0

### Chef-client version
12.18.31

### Platform Details
Windows 2012 R2

### Scenario:
Testing upgrading the preinstalled chef-client in my windows box

### Steps to Reproduce:
I have version 12.18.31 of the chef-client already installed and I was looking to test havin

[2017-04-07 14:40] thommay opened #4 "Fails on Chef 13"
Running chef_client_updater with the chef 13.0 release candidate results in:

<details>

[code]

</details>

[2017-04-07 20:36] tas50 commented on #4
Fixed in 1.0.2!

[2017-04-07 20:36] #4 closed

[2017-04-11 11:12] r0xxDaniel commented on #2
Hey we're facing the same problem on a virtual machine (VMWare vSphere) . It's working fine on a physical host running Windows Server 2016.

Best,
Daniel

[2017-04-13 16:33] stractenberg-sps opened #5 "Upgrading chef-client on windows "Invalid Memory object""
### Cookbook version
1.0.2

### Chef-client version
12.19.36

### Platform Details
Server 2012 R2 (vSphere 6.5)

### Scenario:
Trying to update the Chef client and I always get the error "Invalid Memory object"

### Steps to Reproduce:
I created my own cookbook that includes: "include_recipe 'chef_client_updater::default'"

### Expected Result:
I'm expecting it to upgrade the Chef client to the la

[2017-04-13 18:53] stractenberg-sps commented on #5
the formatting of the text above didn't come out as expected. If there's a trick, please let me know. Thanks.

[2017-04-18 06:43] tas50 commented on #5
This is actually a dupe of #2, which I need to set aside some time to fix. I promise to get this one resolved asap

[2017-04-18 06:43] #5 closed

[2017-04-20 15:08] hrak opened #6 "When running chef-client as service, service dies after upgrade"
### Cookbook version
1.0.2

### Chef-client version
upgrade 12.10.24 to 12.19.36

### Platform Details
Ubuntu 16.04 using the chef-client cookbook 7.2.1

### Scenario:
Upgrade without the parent process dying in a forked chef run

### Steps to Reproduce:
use the chef-client cookbook to define a chef-client service that runs chef-client as a daemon (`chef-client::service`).
set `node['chef_client_u

[2017-04-21 17:26] TechDawg270 commented on #2
Same issue here

[2017-04-25 21:48] mattlqx commented on #6
Yeah, I can't get around this in testing. Same scenario, Ubuntu 16.04 chef-client running in service mode from the `chef-client` cookbook. This cookbook will kill the service and systemd doesn't restart it by default.

Is it vital that the run end as soon as chef-client gets upgraded? Will unexpected things happen if it doesn't? If not, a `post_install_action` of `restart_service` seems like it wo

[2017-04-26 07:44] axos88 opened #7 "Allow floating versions"
### Cookbook version

:latest

### Chef-client version

12.19.36

### Platform Details

N/A

### Scenario:

Allow version specification such as "<13.0.0",  or "~>12.19" etc.

### Expected Result:

Available versions should be match using the known ruby version rules, and the latest version that matches installed.

[2017-04-26 09:51] pjjohnstone opened #8 "Chef hangs on client downgrade"
### Cookbook version
1.0.2

### Chef-client version
12.19.36

### Platform Details
Windows 2012 R2

### Scenario:
Trying to downgrade to 12.5.1

### Steps to Reproduce:
On a chef node running 12.19.36 use the chef_client_updater resource with the prevent_downgrade false option to downgrade to 12.5.1

### Expected Result:
12.19.36 is replaced by 12.5.1 on converge

### Actual Result:
Chef gets stuc

[2017-04-26 12:56] mckownam opened #9 "Mixlib not compatible with Chef 12.4.3?"
### Cookbook version
1.0.2

### Chef-client version
Multiple; 12.4+ (up to latest: 13.0.118)

### Platform Details
Ubuntu 12.04 x64; Running on VMware.

### Scenario:
Force a downgrade from Chef 12.16.42 to 12.4.3 and then upgrade to any higher version to test upgrade and downgrade capabilities. Downgrade works just fine, but upgrade exits with Mixlib::ShellOut::ShellCommandFailed error.

### Step

[2017-04-27 19:47] mattlqx commented on #6
The pull above allows for a `chef-client` attribute to set the chef-client service restart value to "always". With that change, this cookbook then works as desired for package upgrades with systemd.

[2017-05-02 16:03] thommay opened #10 "Infinite loop on current channel"
With only:
[code]

chef will get endlessly re-execed, since we don't check that what we're running is the latest, but simply blindly install.

[2017-05-02 18:50] iennae commented on #9
Unable to replicate the error you are reporting. I'm replicating on ubuntu 14.04 as ubuntu 12.04 is EOL.

<details>
-----> Starting Kitchen (v1.16.0)
-----> Creating <default-ubuntu-1404>...
       Bringing machine 'default' up with 'virtualbox' provider...
       ==> default: Box 'bento/ubuntu-14.04' could not be found. Attempting to find and install...
           default: Box Provider: virtualbo

[2017-05-02 20:00] jasonroth commented on #8
We are having the same issue downgrading from 13.0.113 to 12.19.36

[2017-05-05 04:47] dkowis commented on #10
I have found this behavior on 'stable' channel as well as well. I've noticed that it's *always* updating the chef-client, and so the run never actually finishes. It dies with an error if it is kill'd.

[2017-05-11 00:49] tas50 commented on #10
This has been fixed on master by properly handling :latest vs. 'latest'

[2017-05-11 00:49] #10 closed

[2017-05-11 00:54] tas50 commented on #9
@mckownam What version of compat_resource cookbook are you running and does this occur if chef_client_updater is the only thing in your run list?

[2017-05-11 01:44] tas50 commented on #6
I've added a note in the readme regarding how kill works with chef running as a service. I've also released an updated version of the chef-client cookbook (8.1.1) that sets the restart action in systemd to always, which will start things back up after the upgrade kills chef. Give that a try and let me know if you're still having problems.

[2017-05-11 01:44] #6 closed

[2017-05-11 14:36] mckownam commented on #9
compat_resource version = 12.19.0

Yes, this happens even if chef_client_updater is the only thing in the run list. I have also tested this in Ubuntu 14.04 and got the same error.

The details of the setup are as follows:
 - Systems are all VMs running in VMware (and Chef is used for deploying patches, updates, software, etc)
 - Testing of this chef_client_updater cookbook came about as a result o

[2017-05-18 14:08] mitom commented on #7
Currently you can specify a version like '12' which will try to install the latest of version 12 the way the omnibus installer works. This will either send chef into a loop where it will keep triggering a new chef client run, which will trigger another update that triggers another chef client run and so on if the post action is `exec`, or it will keep killing the chef run every single time if it's

[2017-05-18 14:20] skares commented on #5
Hi, we have this issue even with the latest CookBook Version 1.1.1
All Windows 2012/2016 Virtual Machines have these issue.

Recipe: chef_client_updater::default
  * chef_client_updater_updater[update chef-client] action update

    ================================================================================
    Error executing action `update` on resource 'chef_client_updater_updater[update ch

[2017-05-25 22:48] bowersna commented on #2
Similar issue for upgrading Chef-Client on Windows. No compile or run time errors but client run hangs waiting for the current run to finish... any ideas? Works flawlessly on my *nix nodes.

[code]

[2017-05-30 08:21] david-in-perth commented on #5
@skares : I think @tas50 closed this one as a duplicate of #2, so you should probably follow that issue instead.

[2017-05-30 08:33] david-in-perth commented on #2
We're seeing the same problem too.
Platform: Windows Server 2012 R2

* Tried with `chef_client_updater.post_install_action` as both `kill` and `exec`.
* Tried with and without `--no-fork` option on `chef-client` call.
* Tried with versions 1.1.1 and 1.0.2 of chef_client_updater.

[2017-06-06 01:15] lamont-granquist commented on #9
compat_resource is getting ripped out in #16

this should probably get retested after #16 lands, because any bugs will likely be dramatically different bugs.

[2017-06-06 01:15] #9 closed

[2017-06-06 01:20] lamont-granquist opened #17 "Floating pins like "12" cause infinite loop"
per @mitom in #7

"Currently you can specify a version like '12' which will try to install the latest of version 12 the way the omnibus installer works. This will either send chef into a loop where it will keep triggering a new chef client run, which will trigger another update that triggers another chef client run and so on if the post action is exec, or it will keep killing the chef run every si

[2017-06-06 01:21] lamont-granquist commented on #7
closing in favor of #17

[2017-06-06 01:21] #7 closed

[2017-06-07 22:44] lamont-granquist commented on #7
infinite loop fixed in #22

[2017-06-07 23:38] #17 closed

[2017-06-08 01:12] lamont-granquist commented on #2
hopefully cleaned up by #23 via merging in the changes in #18

if there's still windows issues after those changes are released, please cut a new issue (even if its the same problem).

[2017-06-08 01:12] #2 closed

[2017-06-08 01:12] lamont-granquist commented on #8
hopefully cleaned up by #23 via merging in the changes in #18

if there's still windows issues after those changes are released, please cut a new issue (even if its the same problem).

[2017-06-08 01:12] #8 closed

[2017-06-08 02:08] lamont-granquist opened #24 "Exception handling for rm_rf /opt/chef"
The unix side of this cookbook should probably mv the old /opt/chef to another directory as well.

This will be complicated by the fact that sometimes /opt/chef is a mountpoint and will piss off `mv` so it may need to be copied-then-deleted.

Then there most likely needs to be a rescue block at the end of the action which handles moving the old /opt/chef (or /opscode/chef) back into place.

The is

[2017-06-08 03:00] lamont-granquist commented on #24
And the more I think about this the more correct it seems.

This cookbook needs to be "transactional" and needs to rollback to the last known good state in the event of a catastrophe.

Should most likely `rescue Exception` because this is a case where even if we run it out of memory somehow, we still need to make an attempt to restore the old state.

[2017-06-09 15:09] jrcoleman opened #25 "Upgrading chef-client on windows."
Note: This issue seems to be partially resolved by `smurawski/windows` branch [#18](https://github.com/chef-cookbooks/chef_client_updater/pull/18) so I'm not sure if this is the right place for it.
### Cookbook version
1.1.1

### Chef-client version
12.18.31

### Platform Details
Windows 2012 R2 from AWS

### Scenario:
Upgrade from 12.18.31 to 13.1.31

### Steps to Reproduce:
Made a test cookbook

[2017-06-12 16:59] lamont-granquist commented on #25
"Sending TERM to parent process" is covered in #18, all of the chef.upgrade stuff is covered by stuff merged to master, by steven's patch, or by patches that i have in flight on my desktop.

closing this for now because these are all bugs getting addressed.  it won't be useful to test this on windows until all the in-flight work lands on a released version.

[2017-06-12 16:59] #25 closed

[2017-06-12 17:29] #24 closed

[2017-06-16 18:24] DavidRyan520 opened #29 "Need an option to disable SHA256 hash check"
### Cookbook version
2.0.1

### Chef-client version
12.17.44 to 12.20.3

### Platform Details
Windows Server 2012 R2 - AWS

### Scenario:
Attempting in upgrade Chef-client on a Windows Server 2012 R2.

### Steps to Reproduce:
Our systems are hardened per DISA Stigs. Which is preventing the SHA256 hash check call in the install powershell script.

You can replicate the issue by setting the below re

[2017-06-16 19:33] jvogt opened #30 "Windows - possible issue with download_url_override?"
### Cookbook version
2.0.1

### Chef-client version
12.19.36

### Platform Details
Windows 2008 R2

### Scenario:
Chef run is initiated via `knife winrm --winrm-shell elevated -m [hostname] chef-client`

Computed resource looks a bit like this:
[code]

Here's the stacktrace.  Seems like a cascading failure beginning with the powershell error `A parameter cannot be found that matches parameter name

[2017-06-16 19:49] jvogt commented on #30
Just to add - the system was left in a state where chef-client could not be found on the next chef run, and we ended up uninstalling chef client and re-bootstrapping.

[2017-06-18 00:55] 4-20ma opened #31 "Platform `centos` not found (Mixlib::Install::Backend::ArtifactsNotFound)"
### Cookbook version
2.0.1

### Chef-client version
13.1.31

### Platform Details
Centos 6.5

### Scenario:
Update chef-client (or downgrade chef-client); neither work.

### Steps to Reproduce:
Add `chef_client_updater::default` to Policyfile run_list; run `chef update`, `chef push staging`, chef-client will fail on node with `Mixlib::Install::Backend::ArtifactsNotFound` error.

### Expected Resul

[2017-06-18 01:54] 4-20ma commented on #31
### Update
Test whether changing platform string from `centos` to `el` resolves the issue. Forked cookbook and hard-coded platform to `el`, resulting in success (chef-client was properly downgraded to v12.19.36 and then subsequently upgraded to `latest` v13.1.31 by adjusting `node['chef_client_updater']['version']`).

[code]

[2017-06-18 20:50] lamont-granquist commented on #31
IMO that should get fixed over in mixlib-install and we should normalize all the platforms over there with ohai platform names (which at one point i thought i tried to do back when it was all just omnitruck)

[2017-06-19 16:44] wrightp commented on #31
mixlib install will accept any override value for platform. The correct thing to do here is remove platform, platform_version and architecture options and let mixlib install auto detect the appropriate values.

[2017-06-19 16:45] lamont-granquist commented on #31
we had to put that here for windows.

[2017-06-19 16:54] wrightp commented on #31
Ok I see. I'm not used to seeing this since most scenarios like this use chef-ingredient (which I understand why we're not).  May I suggest doing similar to how this is handled in chef-ingredient?

https://github.com/chef-cookbooks/chef-ingredient/blob/master/libraries/helpers.rb#L299-L310

Essentially, call `Mixlib::Install.detect_platform` and go from there.

[2017-06-19 17:00] ABrehm264 opened #32 "Errno::ENOENT: No such file or directory @ realpath_rec - C:/opscode/chef"
### Cookbook version
2.0.1

### Chef-client version
latest (via TestKitchen)

### Platform Details
TestKitchen
Windows Server 2012r2

### Scenario:
Trying to see if I can downgrade chef-client from chef13 to chef11 or chef12

### Steps to Reproduce:
Metadata:
depends 'windows', '~> 3.1.1'
depends 'chef-client', '~> 8.1.2'
depends 'chef_client_updater', '~> 2.0.1'

Attributes File:
default['chef_cl

[2017-06-19 17:07] wrightp commented on #31
I've also see this Windows logic in omnibus: https://github.com/chef-cookbooks/omnibus/blob/master/recipes/_omnibus_toolchain.rb#L20

[2017-06-19 21:46] jvogt commented on #30
This cookbook depends on mixlib-install for generating an install script but `download_url_override` is not supported on the powershell side of the generator.  I just submitted a PR to mixlib-install to resolve this.

[2017-06-20 18:05] jvogt opened #33 "Documentation and resource do not agree on prevent_downgrade default"
Documentation states `prevent_downgrade` default is `true`
https://github.com/chef-cookbooks/chef_client_updater/blame/master/README.md#L107

While cookbook default is `false`
https://github.com/chef-cookbooks/chef_client_updater/blob/master/resources/default.rb#L27

Just got bit by this, so I wanted to report it.

[2017-06-20 18:06] jvogt commented on #33
FWIW, I would expect `prevent_downgrade` to default to `true` as this cookbook is named chef_client_**updater**

[2017-06-20 19:31] #33 closed

[2017-06-21 22:52] 4-20ma commented on #31
@lamont-granquist I'm happy to pinch the referenced code from the chef-ingredient cookbook. Would you entertain a PR with that change? I'm not sure how this would affect the windows support.

[2017-06-22 16:08] lamont-granquist commented on #31
yeah it looks like we should copy that logic and probably the windows logic out of the omnibus cookbook

[2017-06-26 21:15] #31 closed

[2017-06-26 22:26] mhedgpeth opened #38 "Support for D: installs?"
I can't tell by looking at the code, but would this cookbook support upgrading on a D: installation of chef-client? In other words would it preserve the drive on which the chef-client is installed?

[2017-06-27 08:38] rlaveycal opened #39 "HTTP Proxy overridden in Windows update"
### Cookbook version
2.0.2

### Chef-client version
12.13.37

### Platform Details
Windows 2012R2

### Scenario:
We have a corporate web proxy. The http_proxy environment variable is set. When Chef is run it fails.

### Steps to Reproduce:
 1. Install Chef 12.13
 1. Run Chef against `chef_client_updater::default`

### Expected Result:
The Chef run to complete without error, updating the client if

[2017-06-27 14:32] dguertin commented on #31
I'm still seeing the same issue with chef_client_updater 2.0.2 on Centos 7.3 nodes, trying to update from chef 12.21 to chef 13. It's the same problem we had with version 2.0.1:

Stacktrace follows:
`Generated at 2017-06-27 10:25:52 -0400
Mixlib::Install::Backend::ArtifactsNotFound: chef_client_updater[update chef-client] (chef_client_updater::default line 20) had an error: Mixlib::Install::Backen

[2017-06-27 15:56] username-is-already-taken2 opened #40 "chef-client run doesn't finish"
### Cookbook version
2.0.2

### Chef-client version
Was `12.15.19` Installed `13.1.31`

### Platform Details
Windows 2012 R2 Azure Build

### Scenario:
Upgrade the chef-client on windows

### Steps to Reproduce:
[code]

### Expected Result:
chef-client run to end or restart

### Actual Result:
From what I can tell looking around the system, the old client was move to the .upgrade folder, the new v

[2017-06-27 16:14] username-is-already-taken2 commented on #40
As I have a couple of machines in Azure (same template and version of Chef I thought I would enable debug within the `client.rb.`

Might be significate but there was a couple of extra lines, going to sleep and the run of ohai.

[code]

Hope that helps

[2017-06-27 16:25] tas50 commented on #40
@username-is-already-taken2 If you set the post install action to kill this will probably resolve itself. The old client hasn't been killed and the new client won't run if the pid file for the previous client is still active.

[2017-06-27 16:27] tas50 commented on #31
This is fixed with the 2.0.3 release

[2017-06-27 16:30] username-is-already-taken2 commented on #40
After a reboot, re-running the chef-client removed the file that was kicking around.

[2017-06-27 16:31] tas50 commented on #40
A reboot would achieve the same end result of killing the old process. If you use kill as the post install action this will probably work as expected without a reboot. I'll close this out. Feel free to open it back up if you give that a try and it doesn't work.

[2017-06-27 16:31] #40 closed

[2017-06-27 18:59] iennae commented on #38
This won't work right now due to the underlying software used to implement the update. There is no plan at this point to add this feature. This particular request has been declined in the past https://feedback.chef.io/forums/301644-chef-product-feedback/suggestions/8394195-allow-installation-of-chef-server-to-non-standard due to lack of interest from customers/community. You are welcome to add a n

[2017-06-27 18:59] #38 closed

[2017-06-27 20:32] lamont-granquist commented on #39
this is actually a dup of chef/mixlib-install#201 and chef/mixlib-install#204 and details should probably be put there.

until mixlib-install supports proxies, this cookbook can't support proxies, so work and discussion really needs to land over in that repo.

[2017-06-27 20:32] #39 closed

[2017-06-27 20:36] lamont-granquist commented on #40
we might want to document this in the README, i also saw this happen a bunch but never got around to tracking it down...

[2017-06-27 20:38] lamont-granquist commented on #32
[code]

the contents of that file would be useful

[2017-06-27 20:43] ABrehm264 commented on #32
I'll see if I can get that for you. The main problem seemed to have been that the update script was needing c:/opscode/chef to exist, after the code moved it. But yeah, I'll see what I can do.

[2017-06-27 20:48] lamont-granquist commented on #32
I would think that would have produced a Mixlib::ShellOut exception, not the Errno::ENOENT which is showing up.  The stacktrace.out would shed more light on that.

[2017-06-27 21:09] ABrehm264 commented on #32
Here ya go:
[stacktrace.out.txt](https://github.com/chef-cookbooks/chef_client_updater/files/1106769/stacktrace.out.txt)

[2017-06-27 23:40] lamont-granquist commented on #32
yeah the error formatting is blowing up because it expects the files in the stack trace to exist which is masking everything that is going on....

[2017-06-27 23:42] lamont-granquist commented on #32
[code]

that is a lot more relevant, although I'm not parsing exactly what went wrong...

[2017-06-28 12:41] username-is-already-taken2 commented on #40
Hi @tas50 I tried the kill action method on another box and that worked fine.  My thought is that maybe you should consider changing the default action to kill? (rather than exec)
In Exec mode the chef-client is hung and won't run again until terminated or the system is rebooted.  In windows the chef-client installation creates a schedule tasks which will terminate a long running process after 3da

[2017-06-28 15:22] Stromweld opened #41 "error undefined method 'version' for #<Array:0x0000000b9db290>"
### Cookbook version
2.0.3

### Chef-client version
13.1.31

### Platform Details
Windows Server 2012R2 running on AWS Cloud

### Scenario:
normal chef-client run

### Steps to Reproduce:
run chef-client with chef_client_updater in runlist

### Expected Result:
Chef to finish convergence

### Actual Result:
error on several but not all of my windows servers.
[code]
chef-stacktrace.out:
[code]

[2017-06-28 18:37] lamont-granquist commented on #41
@wrightp it looks like we're getting scalars or arrays of scalars back from the mixlib-install API here, depending on conditions, which should probably be fixed in mixlib-install so it returns either an array or a scalar?

[2017-06-28 18:43] lamont-granquist commented on #30
so closable due to chef/mixlib-install#216 being merged?

[2017-06-28 18:49] wrightp commented on #41
`#artifact_info` will return a scalar if an exact artifact is found based on the query. If multiple artifacts match the query it will return an array of scalars for all matching artifacts. The team has had several discussions on whether to always return an array or to behave as it does now. If you have input please share.

[2017-06-28 19:03] lamont-granquist commented on #41
it should be always array.

i'd actually state more strongly that ruby return types should be considered like the /should/ be strongly typed so they're predictable.  also some of the positively *worst* bugs i've seen in the chef client codebase have come from having instance variables like `@url` duck-typing and being settable to either a String or a URI -- which is slick and works fine until it a

[2017-06-28 19:12] wrightp commented on #41
Thanks. I concur. I'll propose this for 4.0.

[2017-06-28 19:13] lamont-granquist commented on #41
its easy enough to coerce it to an array here as well, so i can fix this bug and get this issue closed

[2017-06-28 19:25] lamont-granquist commented on #41
so @wrightp do i want .first or .last?  i'm assuming .first?

[code]

[2017-06-28 19:35] wrightp commented on #41
I have always used first in this case. All artifacts will be of the same version

[2017-06-28 19:39] lamont-granquist commented on #32
so to clarify: "No such file or directory @ realpath_rec - C:/opscode/chef" is a puke coming from the error formatter.  once the exception has been thrown the error formatter then goes and gets very upset over its files having disappeared.  that is somewhat unfortunate (also not very easily fixable, although we could do more defensive coding in the error formatter, but that doesn't help anyone upg

[2017-06-28 19:49] lamont-granquist commented on #41
ah i get it, cool.

[2017-06-28 19:57] lamont-granquist commented on #32
@wrightp i'm not sure if you've got any thoughts on this one.  i think we're going to need a windows expert here and that's not me.  its possible that this is related to a failed uninstall of the prior chef version (possibly due to the directory being moved) but we have to do that because we're running the thing which is being upgraded and if we nuke the files out from under it, the running chef-c

[2017-06-28 20:01] lamont-granquist commented on #32
also paging in @mwrock @btm and @NimishaS

[2017-06-28 20:11] wrightp commented on #41
To elaborate... The scalar value will be returned based on platform, platform version, architecture, product, product version, channel.  The array will return all available platform permutations of channel, product, product versions if no platform information is provided to the constructor.

[2017-06-28 20:53] lamont-granquist commented on #29
So an option to disable the check seems like the wrong approach here which will disable security features because of an algorithm issue (with an algorithm which has no actual weaknesses but is just a certificational FIPS issue).

In this case your workaround is a more appropriate workaround and is more in line with official recommendations from microsoft:  https://blogs.technet.microsoft.com/secgu

[2017-06-28 20:59] lamont-granquist commented on #29
This is where the SHA256 check happens and any fix should probably hit this line (and the similar line somewhat above it):

https://github.com/jvogt/mixlib-install/blob/1c631979e189f2e418025d44342a212778f1a876/lib/mixlib/install/generator/powershell/scripts/install_project.ps1#L103

This bug looks like it discusses this situation:

https://github.com/IdentityServer/IdentityServer3/issues/571

[2017-06-28 22:06] btm commented on #29
I agree with @lamont-granquist that this should be fixed over in https://github.com/chef/mixlib-install.

It actually is likely to be simply changing
[code]
to
[code]

here: https://github.com/chef/mixlib-install/blob/master/lib/mixlib/install/generator/powershell/scripts/helpers.ps1.erb#L144.

[2017-06-29 06:25] jvogt commented on #30
Maybe keep open for visibility to others with the issue, until the next release of mixlib-install?

[2017-06-29 14:43] DavidRyan520 opened #43 "Readme - Windows Task Example Change"
### Cookbook version
2.0.3

### Issue

I had issues using the example of the "windows_task". Specifically with the dynamic "start_time" variable.

### Current Example
[code]

### Modified Example
[code]
This:
[code]
is changed to this:
[code]

Only change is to the way I grabbed the "start_time" variable. I needed to do this because the hour and minute was not always formatted properly when the ho

[2017-06-29 15:46] awolde opened #44 "Conflicting readme and attributes"
Readme claims downgrading is enabled by default, but the attribute says otherwise https://github.com/chef-cookbooks/chef_client_updater/blob/master/attributes/default.rb#L23

[2017-06-29 16:12] jrieck1991 opened #45 "chef-client runs and exits successfully but the process hangs around afterwards"
### Cookbook version
chef_client_updater 1.0.2

### Chef-client version
chef-client 12.17.44

### Platform Details
CentOS 6.9

### Scenario:
chef-client runs and exits successfully but the process hangs around afterwards, this doesn't stop chef-client from running again but it does trigger alerts on our side for the lingering process.

### Steps to Reproduce:
It only happens on a small section of

[2017-06-29 16:20] mwrock commented on #32
The best way to debug `1603` errors is to have `msiexec` send debug logging to a file. Almost always that output will say what specifically went wrong.

[2017-06-29 16:35] #41 closed

[2017-06-29 16:47] #43 closed

[2017-06-29 16:48] lamont-granquist commented on #45
does switching the post install action to 'kill' fix it?

@tas50 i'm kind of wondering if that default needs to be flipped.

[2017-06-29 16:49] #44 closed

[2017-06-29 16:58] tas50 commented on #45
I just came here to mention that we should probably change it to kill. We certainly need some more detailed documentation about the importance of the post install action and making sure you have the right setting. It seems to be causing a lot of confusion. I wonder if we could make it smarter about just doing the right thing.

[2017-06-29 17:01] lamont-granquist commented on #45
so if we want to do that we should probably do that before 3.0.0 drops so we don't have to do a 4.0.0 a few days later

[2017-06-30 21:01] croffe commented on #32
I was seeing the same issue.  I believe this is fixed by mixlib-install 3.3.1 - https://github.com/chef/mixlib-install/pull/219

I've tested this in Windows 2012 R2

[2017-06-30 21:02] lamont-granquist commented on #30
what that typically creates, though, is lots of open-but-fixed litter.  it makes sense from a user perspective because if they can't get at the fixed code easily its technically still broken -- but from a dev perspective its just an open ticket that isn't actionable at all and needs to be remembered to close later.  and we don't need this ticket open as a nag to ship mixlib-install, we know we nee

[2017-06-30 21:02] #30 closed

[2017-06-30 21:15] lamont-granquist commented on #32
@ABrehm264 can you confirm that the mixlib-install 3.3.1 release yesterday fixes this?

[2017-07-03 02:59] mhedgpeth commented on #38
Hi @iennae thanks for your quick response to my issue. The chef-client _does_ support `D:` installations; you simply run the MSI with INSTALLLOCATION=D:\opscode in the arguments and it installs just fine.

There are a few issues with it though:

- Every time you run chef-client you have to pass in `-c D:\chef\client.rb`
- There is no way to do a `knife bootstrap` to the `D:` drive
- this cookbook

[2017-07-05 23:52] trevorghess opened #51 "If checksum is not correct, chef-client will loop infinitely."
### Cookbook version
chef_client_updater 1.1.1

### Chef-client version
chef-12.19.33-1.el6.x86_64

### Platform Details
CentOS 6.8

### Scenario: [What you are trying to achieve and you can't?]
Upgrade chef from 12.19.33 to 12.20.3 using download_url_override.

### Steps to Reproduce: [If you are filing an issue what are the things we need to do in order to repro your problem? How are you using t

[2017-07-08 04:52] tehsuk opened #52 "chef_client_updater does not use proxy settings"
### Cookbook version
2.0.3

### Chef-client version
12.20.3

### Platform Details
Windows Server 2016

### Scenario:
chef_client_updater fails to download the msi package on a node configured to use a proxy (environment variables http_proxy & https_proxy are defined per https://docs.chef.io/proxies.html).

### Steps to Reproduce:

- Set http_proxy and https_proxy environment variables
- Run chef c

[2017-07-10 14:05] ABrehm264 commented on #32
Sorry for not responding earlier, I've been out of pocket :(

That does not seem to have fixed my problem :(

Here's what I updated my recipe to:
./recipes/default.rb
[code]

gem list on my box:
![image](https://user-images.githubusercontent.com/12091031/28021333-81266324-6555-11e7-9081-371a48ee7e7b.png)

Here's the stack trace:
[stacktrace.out.txt](https://github.com/chef-cookbooks/chef_client_up

[2017-07-10 14:17] Stromweld commented on #41
Is 3.x going to be released soon with this fix in it?

[2017-07-10 18:01] lamont-granquist commented on #52
another dup of mixlib-install#201, i guess i'll leave this open though.

[2017-07-13 15:24] btm commented on #29
This should be fixed by https://github.com/chef/mixlib-install/pull/220 when it gets released to omnitruck.

[2017-07-13 15:24] #29 closed

[2017-07-14 21:44] mhedgpeth commented on #45
Now that it's set to :kill by default this works. I just tested it.

[2017-07-14 21:46] mhedgpeth opened #55 "chef_client_updater appears to fail with errors when killing chef-client after an upgrade"
When the `chef_client_updater` cookbook runs, it looks like an error happened, but an error didn't happen. I suggest there be a "upgrading" exit status for the chef-client so it doesn't report as an alarming event.

[code]

[2017-07-14 23:12] #45 closed

[2017-07-14 23:13] tas50 commented on #45
Good to hear @mhedgpeth

[2017-07-15 02:28] lamont-granquist commented on #55
This is already less noisy in current chef-client versions:

[code]

[2017-07-15 02:29] lamont-granquist commented on #55
And yet another example of the duplicated logger lines in chef 13 we still need to track down...

[2017-07-15 15:07] mhedgpeth commented on #55
@lamont-granquist I didn't think about testing that on Chef Client 13.X. Thanks for the information.

One other question (before I can make sure this is good): what gets reported to automate and exception handlers? Are they told a failure occurred?

[2017-08-08 17:00] lamont-granquist commented on #55
I assume based on `ERROR: Running exception handlers` that it gets reported to automate, I have no idea how it shows up in that UI.

[2017-08-08 22:18] tas50 commented on #55
@mhedgpeth I've updated the cookbook to slightly improve the log output. Now you will see the message that the upgrade has completed before you see the warning that the kill/exec is going to happen. Previously the exec/kill was within the converge and happened before the logging fired. This might make it a bit more apparent what's going on, even in the older chef-client releases.

[2017-08-08 23:05] ttdgcp opened #57 "Update failure due to mixlib missing options"
### Cookbook version
3.0.2

### Chef-client version
12.20.3

### Platform Details
Windows Server 2012 R2

### Scenario:
Use chef_client_updater cookbook in wrapper cookbook to upgrade from v12.20.3 to v13

### Steps to Reproduce:
Create wrapper cookbook, include in a production node's default.rb, run chef-client --once

### Expected Result:
A full chef run, followed by an upgrade of Chef Client co

[2017-08-09 10:19] Magictoys commented on #57
i have same error  with windows 2012 r2 server .
my chef client version = 12.18.31

i test with chef client version 12.20 / 12.10 and 12.13.37 and has a  same error

error:

[0mMixlib::Install::Options::InvalidOptions[0m
----------------------------------------[0m
Must provide platform, platform version and architecture when specifying any platform details
[0m
[0mCookbook Trace:[0m
---------

[2017-08-10 19:12] gitdave225 commented on #57
Getting the same issue. Running on Server 2008 R2 with chef client 12.16.42.
  * chef_client_updater[Install 13.0.118] action update
    - upgrading rubygems to 2.6.11 was 2.6.8
    * chef_gem[mixlib-install] action install
      - install version >= 3.3.1 of package mixlib-install

    ================================================================================
    Error executing action `upd

[2017-08-10 21:20] tas50 commented on #57
This is actually a bug in mixlib-install. I'm going to release a new chef_client_updater today that requires the latest mixlib-install in order to fix this.

[2017-08-10 21:42] #55 closed

[2017-08-10 21:42] tas50 commented on #55
Closing this out since we've released a version that solves it as much as we can on an old chef client. New clients will handle this much better as @lamont-granquist mentioned

[2017-08-10 21:49] tas50 commented on #57
3.0.3 is out and that should install a version of the mixlib-install gem that properly works on windows hosts

[2017-08-10 21:49] #57 closed

[2017-08-10 23:12] tas50 commented on #51
@trevorghess

So the good news here is we no longer loop given the latest version of this cookbook / mixlib-install. The bad news is we don't fail to install the file. More on that after I dig in a bit more

[2017-08-11 10:38] Magictoys opened #60 "Chef_Client_Updater 3.0.3 exit error"
### Cookbook version
[3.0.3]

### Chef-client version
[12.13.37]

### Platform Details
[Windows 2012 r2 - Redat 5x 6x]

### Scenario:
[the update chef client done  but the cookbook finish with error, but if i restart cookbook all is fine ]

### Steps to Reproduce:
[i start chef-client -o chef_client_updater and i have error message but the chef-client upgrade is work]

  - chef_client_updater (3.0

[2017-08-11 10:50] Magictoys commented on #60
It seems to me that the kill function does not work with the redhat 5x 6x ?

[2017-08-11 11:03] StuporHero commented on #60
The kill behavior is not supposed to automatically restart chef. That task is left to the service manager, which on RHEL 5/6 does NOT restart chef for you. You will need to use an external process monitor to restart chef on these systems. There is a note about this in the Readme reproduced below:

Init System Caveats
When Chef runs as a service under a system init daemon such as Sys-V or systemd e

[2017-08-11 11:16] Magictoys commented on #60
The cookbook in version 2.0.3 works perfectly in all redhat versions.

[2017-08-11 11:23] StuporHero commented on #60
I'm not one of the maintainers, so I can't speak for them, but typically incrementing the first number in a version string indicates breaking changes, so you should expect version 3 to work differently than version 2. All I can tell you is that this cookbook is documented to work the way you've described, so you should either stick to using the version you know works or use this version as it is d

[2017-08-11 11:27] Magictoys commented on #60
Thank you for your help I will wait for the response of the dev.

thank you

[2017-08-11 12:53] StuporHero opened #61 "Failure to detect installed chef version"
### Cookbook version
3.0.3

### Chef-client version
Tested with 13.0.118, 13.2.20

### Platform Details
oracle-6.9

### Scenario:
The cookbook appears to be failing to correctly detect the installed version of chef and will restart indefinitely in my recipe. I can't seem to reproduce this outside of my recipe because I haven't isolated what in my recipe causes the behavior. I've confirmed that thi

[2017-08-11 18:44] gitdave225 opened #62 "Update failure due to mixlib missing options - again"
### Cookbook version
3.0.3

### Chef-client version
12.16.42

### Platform Details
Windows Server 2008 R2

### Scenario:
Trying to upgrade a Windows node but still getting the mixlib missing options error. I am using the 3.0.3 version of the chef_client_updater as recommended.

### Steps to Reproduce:
Created a wrapper cookbook and assigned it to the the node.

### Expected Result:
I expected my W

[2017-08-11 18:59] lamont-granquist commented on #60
you can use `:exec` if it works.  if it does not work, i don't have a solution.

[2017-08-14 07:35] Magictoys commented on #62
I already had this problem and I resolved it by updating the gem mixlib-install > 3.3.1

i install version 3.3.4

[2017-08-15 12:56] gitdave225 commented on #62
I was expecting the cookbook to handle that part as it did previously. Considering that mixlib-install 3.3.4 was supposed to fix the issue, I was hoping the requirement to install that version of the gem would be it. Unfortunately, it is still not happening in my case.

I'll manually try to install mixlib-install but would be difficult for my none internet access systems (which is almost all of th

[2017-08-16 07:31] Magictoys commented on #62
You can download it on your pc version 3.3.4. You copy the gem to your server and install it

[2017-08-17 14:25] gitdave225 commented on #62
Thanks I'll give that a try.

[2017-08-17 18:08] tas50 commented on #62
3.0.4 of the cookbook should properly handle the gem update

[2017-08-17 18:08] #62 closed

[2017-08-17 18:09] tas50 commented on #61
What version are you telling the cookbook to update to?

[2017-08-18 10:48] StuporHero commented on #61
I've tried '13.0.118', '13.2.20', and '13'.

[2017-08-24 15:01] sputturao opened #63 "New chef-client binary is doesn't come up after upgrade"
### Cookbook version
13.0.118

### Chef-client version
13.1.31

### Platform Details
RHEL6 and RHEL7

### Scenario:
Trying to upgrade all the nodes in our environment running different versions of chef-client to 13.1.31. We have air-gapped environment. Hence we have setup an internal gem mirror that fetches all the gems necessary for the upgrade.
- We are using a wrapper cookbook for (https://gith

[2017-08-24 20:08] sputturao commented on #63
Issue resolved after adding value to checksum attribute. Thanks to Jeremy Miller!

[2017-08-24 20:08] #63 closed

[2017-08-29 08:39] Magictoys commented on #60
i test version 3.0.4 and i have same problem but it works ( exit error )
CHEF_CLIENT_VERSION = '12.13.37'
DOWNLOAD_URL_OVERRIDE = 'http://pulp.cma-cgm.com/pulp/repos/opt/pulp/cma/rpm'
DOWNLOAD_URL_OVERRIDE_WINDOWS = 'http://pulp.cma-cgm.com/chef/chef-client/robby/windows'
def chef_client_updater_settings
    # stable or current channel
    default['chef_client_updater']['channel'] = 'stable'
    #

[2017-08-29 08:45] Magictoys commented on #60
Is it possible to have the function exec & kill that works for REDHAT 5x a

[2017-08-29 08:45] Magictoys commented on #60
Is it possible to have the function exec & kill that works for REDHAT 5x & 6x. thanks

[2017-08-29 12:33] mitom opened #64 "Downgrading on windows does not work."
### Cookbook version
3.0.4

### Chef-client version
13.3.42

### Platform Details
Windows 2012R2

### Scenario:
Downgrade chef-client version.

### Steps to Reproduce:
1. Install chef client by url. From the docs:
[code]
2. Bootstrap the node
3. Set the desired version to lower than latest to get the updater to downgrade (any lower version)
4. Run chef client to trigger the downgrade
5. Fail the d

[2017-08-30 23:44] iennae commented on #61
I replicated this issue with your cookbook. It looks like the latest version of this cookbook will resolve your problem. Update your metadata to use 3.0.4 to pull in @tas50 fix.

[2017-08-30 23:44] #61 closed

[2017-09-20 11:55] lbn-chef-team opened #68 "unable to use custom path for bin c:/opscode to c:/mypath/opscode"
Hello,

### Cookbook version
3.0.4

### Chef-client version
chef 13.0.118 to 13.4.28

### Platform Details
Windows 2012 r2 x64

### Scenario:
update chef-client to the same custom path as defined in bootstrap installation

### Steps to Reproduce:
Install chef-client with 13.0.118 with path c:\mypath\opscode (instead of default c:\opscode)
Run the chef_client_updater to latest version.

### Expecte

[2017-10-04 08:02] lbn-chef-team commented on #68
Hello,

I check the code and i suggest to add this:

in providers/default.rb line 178 to 180:
[code]

a new attributes in attributes/default.rb line 37:
[code]

Regards,

[2017-10-10 16:42] abbec commented on #64
I have this issue too, not a huge one but would be nice to be able to downgrade.

[2017-10-19 09:11] #60 closed

[2017-10-25 20:48] jdgoins opened #70 "chef.upgrade folder not deleted on w2k12r2 and w2k16 after upgrade"
### Cookbook version
3.0.4

### Chef-client version
13.5.3

### Platform Details
w2k12r2 or w2k16

### Scenario:
This cookbook keeps trying to delete the chef.upgrade folder in C:\opscode after a successful upgrade. It does not error out, but it fails to remove the chef.upgrade folder.

### Steps to Reproduce:
1. Upgrade from Chef Client 12.19.36 to 13.5.3 using this cookbook (3.0.4) on w2k12r2.
[

[2017-10-31 11:30] timbrown5 opened #71 "Add option to restart node after chef-client update."
We use chef to manage a lot of VMs and we have a scheduled task that runs chef-client on boot - and reboots is there are any installs/updates that might not have completed yet. At the moment this recipe leaves the VMs on, but not doing anything, after the chef-client is updated, which require manual intervention. As such it would be really useful if this recipe would allow us to reboot the target

[2017-10-31 23:17] tas50 commented on #71
@timbrown5 Can you elaborate on the need to reboot the node after the chef client is updated. I haven't heard of anyone rebooting nodes post chef upgrade and that's something I've never done in the environments I managed.

[2017-10-31 23:18] tas50 commented on #70
We have some changes to the cleanup in the pipeline that *may* resolve some of the random issues with failures and cleanup on windows. Soon!

[2017-11-01 09:35] timbrown5 commented on #71
We use chef in a test environment to manage our test clients and make sure that they have the correct version of our tools installed before we run a test.
We use a CI tool to run our tests, but we found that running chef-client in a CI job causes issues when the chef client needs a reboot (which on windows happens semi-regularly as our tools often install driver updates).
Instead when we start a t

[2017-11-01 14:54] timbrown5 commented on #71
I have added the option here:
https://github.com/chef-cookbooks/chef_client_updater/compare/master...timbrown5:master
Seems to work for my situation (only tested on windows as I don't have any linux VMs available at the moment).

Note: I tried using reboot resource to schedule the reboot, but this didn't work for me (as it tried to use the new install, which isn't configured for our environment ye

[2017-11-01 17:49] tas50 commented on #70
I've released 3.1.0 which reworks the cleanup logic. If you're still seeing this issue with that version feel free to open this issue back up

[2017-11-01 17:49] #70 closed

[2017-11-01 17:50] tas50 commented on #32
I believe there's a high likelihood that this issue has been resolved with the latest release of this cookbook that uses the new mixlib-install. If you're still having these problems with the 3.1 release feel free to open this issue back up.

[2017-11-01 17:50] #32 closed

[2017-11-01 17:51] tas50 commented on #52
@tehsuk Initial support for using the proxy server in mixlib-install is in place and we now require that version of mixlib-install.

[2017-11-01 20:47] croffe commented on #71
Since this functionality is not required by the updater, wouldn't you be able to accomplish this by notifying the reboot resource?

[2017-11-01 21:56] tas50 commented on #71
It's tricky since the update resource never actually finishes. It does the kill or the exec mid run.

[2017-11-06 16:54] mitom opened #73 "Upgrading on old linux fails to detect correct version"
### Cookbook version
3.1.0

### Chef-client version
12.21.12

### Platform Details
Linux ip-10-244-6-170 3.2.0-23-virtual #36-Ubuntu SMP Tue Apr 10 22:29:03 UTC 2012 x86_64 x86_64 x86_64 GNU/Linux
AWS - Ubuntu 12.02

### Scenario:
Update chef to `~12`.

### Steps to Reproduce:
Run chef client with an update resource in a cookbook.

### Expected Result:
To detect that 12.21.12 is the latest for ubu

[2017-11-09 13:40] blackdynamite595 opened #74 "After update, chef-client not recognized and scheduled tasks do not run"
### Cookbook version
3.1.0

### Chef-client version
several < 12.21.26. Really any version (tried updating to 13.X too)

### Platform Details
Windows Server 2012 R2

### Scenario:
Update chef client w/ cookbook. Chef client runs after update.

### Steps to Reproduce:
chef_client_updater 'Install latest Chef 12.x' do
  version '12'
end

Let chef execute as scheduled task or run chef-client manually

[2017-11-14 12:53] RobbertJanSW commented on #74
You are interrupting the upgrade mid-way. The upgrade on Windows is not very elegant. You should not interfere this process.

Wait for the scheduled task to do its thing. It will keep triggering until no file locks exist anymore in the c:\opscode\chef folder. After that, the new version is installed.

This can take up to 15 minutes. So don't touch it for at least that time.

`chef-client` is not a

[2017-11-14 13:07] blackdynamite595 commented on #74
Well, I waited for much longer than 15 minutes initially. The second test (different system), I left overnight, with the same result.

After the upgrade runs, chef never works again until it is manually installed and the system rebooted.

[2017-11-14 14:03] RobbertJanSW commented on #74
What version are you upgrading from?

[2017-11-14 14:20] blackdynamite595 commented on #74
Any 12.X version. We have different versions in our environment. I can try one at random and let you know the version, but it happens on all of them.

[2017-11-14 16:01] croffe opened #75 "Windows - Chef_upgrade task fails when Powershell ExecutionPolicy is set to Restricted"
### Cookbook version
3.1.0

### Chef-client version
13.5.3 (to upgrade to 13.6.4)

### Platform Details
Windows 2012 R2

### Scenario:
Upgrade of Chef Client fails when Powershell Execution Policy is set to Restricted

### Steps to Reproduce:
powershell Set-ExecutionPolicy Restricted
Upgrade Chef Client using this cookbook

### Expected Result:
I am expecting the Chef_upgrade task to upgrade the C

[2017-11-14 16:29] jdgoins commented on #74
Yesterday, I had the same behavior trying to upgrade from 13.5.3 to 13.6.4.

I waited far longer than 15 minutes. I noticed a scheduled task was created for upgrading the client, but it showed that it had errored; executing it again yielded the same result. I had to completely remove the Opscode folder and reinstall chef client.

[2017-11-14 16:53] croffe commented on #75
I've submitted a PR to address this: https://github.com/chef-cookbooks/chef_client_updater/pull/76

The fix will bypass the Powershell Execution Policy for the Chef_upgrade scheduled task

[2017-11-14 16:53] #75 closed

[2017-11-14 18:21] tas50 commented on #74
We had a PR merged and released that fixes an issue with Powershell execution. It would be great if the folks here could give that a try and report back.

[2017-11-14 18:58] blackdynamite595 commented on #74
@tas50

 ================================================================================
 Error executing action `update` on resource 'chef_client_updater[Install latest]'
 ================================================================================

 SystemExit
 ----------
 exit

 Cookbook Trace:
 ---------------
 c:/chef/cache/cookbooks/chef_client_updater/providers/default.rb:176:in `exit'

[2017-11-14 19:14] RobbertJanSW commented on #74
How large is your `c:\opscode\chef` folder after running the chef_upgrade task?

[2017-11-14 19:17] blackdynamite595 commented on #74
545MB

[2017-11-14 20:42] RobbertJanSW commented on #74
After the upgrade:
What version does Add/Remove programs state?
Do you still have a c:\opscode\chef_upgrade.ps1 on disk?
What is the last exit code of the chef_upgrade scheduled task?
Do you have errors in your Chef log after the last run on the old Chef version throws the system exit?

[2017-11-20 15:26] robbAtEBSCO commented on #74
I'm also seeing this problem on a Windows Server 2008 R2 box upgrading to 13.6.4.

What version does Add/Remove programs state? - 13.6.4
Do you still have a c:\opscode\chef_upgrade.ps1 on disk? - YES
What is the last exit code of the chef_upgrade scheduled task? - 1
Do you have errors in your Chef log after the last run on the old Chef version throws the system exit? - NO

[2017-11-20 15:29] blackdynamite595 commented on #74
Sorry Robert, I had a lot of other stuff going on, I will update you with that info shortly.

[2017-11-21 06:28] RobbertJanSW commented on #74
What output do you see when you run the chef_upgrade.ps1 manually in an elevated Powershell console?

[2017-11-21 17:12] robbAtEBSCO commented on #74
ModuleType Version    Name                                ExportedCommands
---------- -------    ----                                ----------------
Script     0.0        Omnitruck                           {Get-ProjectMetadata, Install-Project, install}
Installing chef from C:\Users\USER~1\AppData\Local\Temp\chef-client-13.6.0-1-x64.msi
msiexec was not successful. Received exit code 1603
At C:\o

[2017-11-22 07:52] RobbertJanSW commented on #74
You are downgrading from 13.6.4 to 13.6.0.
This is not supported on Windows in the current release.

I do have a pull request open to fix this though, check out #77

[2017-11-22 15:45] robbAtEBSCO commented on #74
Yep, I was using the knife bootstrap command which was installing the latest client (13.6.4) and then my cookbook specified version 13.6.0.  I avoided issue by specifying the version in the bootstrap command "--bootstrap-version 13.6.0".  Thanks Robert!

[2017-11-22 18:53] blackdynamite595 commented on #74
@RobbertJanSW

Before: 12.19.36

After the upgrade:
What version does Add/Remove programs state? 12.19.36
Do you still have a c:\opscode\chef_upgrade.ps1 on disk? Yes
What is the last exit code of the chef_upgrade scheduled task? Not sure where to find this. It says in scheduled tasks that it ran successfully.
Do you have errors in your Chef log after the last run on the old Chef version throws th

[2017-11-22 18:57] tas50 commented on #64
3.1.2 should resolve this issue. Feel free to open this back up if it's still an issue

[2017-11-22 18:57] #64 closed

[2017-11-22 19:07] blackdynamite595 commented on #74
@RobbertJanSW

FYI, after reboot, chef works and is upgraded.

Is this intended? I would prefer not to have to reboot 200 systems to update the chef client. I believe that it is not necessary to reboot if you simply run the MSI yourself, correct?

[2017-11-23 14:52] RobbertJanSW commented on #74
No, definitely not intended. No reboot is needed.
I've got the feeling your upgrade is performed right after your reboot by the scheduled task.
This would mean it fails every minute until your reboot. But that would mean your Scheduled Task would have a non-0 last result exit code (please double-check the exit code number)

You can also try and run the chef_upgrade.ps1 manually in an elevated powe

[2017-11-28 20:04] wjordan opened #79 "Use smarter default for post_install_action"
`post_install_action` should just 'do the right thing' by default, rather than require the user to manually choose between `exec` or `kill` settings depending on their use-case.

I saw that the default `post_install_action` was switched from `exec` to `kill` in major-version 3 of this cookbook (#49), to address an issue (#45) that arises from the most common use-case when chef-client runs via fork

[2017-11-29 04:42] iennae commented on #79
@tas50 @lamont-granquist thoughts on this issue?

[2018-01-15 18:23] taharah opened #81 "Invalid checksum causes chef-client to indefinitely fail"
### Cookbook version
`3.1.3`

### Chef-client version
`12.21.31`

### Platform Details
RHEL 6.9

### Scenario:
Setting a download URL with an incorrect checksum causes the update to fail, but still allows the `/opt/chef` folder to be moved.

### Steps to Reproduce:
* Set a newer version to update to
* Set a download URL
* Set an incorrect checksum
* Run `chef-client`

### Expected Result:
I would

[2018-01-16 22:11] zepheiryan opened #82 "Ignore chef.io backend problems"
### Cookbook version
3.1.2

### Chef-client version
12.21.26

### Platform Details
Ubuntu 16.04.3

### Scenario:
When the chef.io infrastructure experiences problems as it has a few times in the past week, the `chef_client_updater` resource fails the entire Chef run due to an inability to connect to the backend.  It would be useful to have an option to ignore this specific type of connection failu

[2018-01-17 00:21] martinisoft commented on #82
I'd like to suggest an additional solution. If you specify a specific version, check if it is installed and short-circuit at that point which will save the outbound call.

[2018-01-17 00:23] onlyhavecans commented on #82
We have also been having this issue and it is breaking a lot of runs. I like @martinisoft 's solution

[2018-01-22 21:23] bcorner13 commented on #52
I get the same issue on centos 6
  * chef_client_updater_updater[Install 12.19.36 and kill] action update
    * chef_gem[mixlib-versioning] action install
      - install version 1.2.2 of package mixlib-versioning
    * chef_gem[mixlib-install] action install
      - install version 3.9.0 of package mixlib-install

    ===============================================================================

[2018-01-24 17:21] yurylevin opened #85 "Chef terminated during upgrade attempt."
Hi, there. We are experiencing troubles with Chef client upgrade using `chef_client_updater` cookbook. There are 2 issues:

1) Normally, this cookbook terminates chef client in kitchen, and I cannot solve it according to suggestion `In order to test this cookbook it will be necessary to change the post_install_action to exec from kill.` I try to do it and Chef fails with  error:

[code]

2) Second

[2018-01-24 23:03] zepheiryan commented on #82
Maintainers implemented @martinisoft 's suggestion in #83 and released a couple days ago.  AIUI, it would still throw an error if the exact desired version doesn't match and the Chef backend is down - which sounds like the right behavior to me.  Closing.

[2018-01-24 23:03] #82 closed

[2018-02-05 19:08] rdean716 commented on #74
Some more detail on this thread; we updated the chef client on ~130 nodes today from 12.18 to 13.6.4 without issue. However, ~6 nodes failed to check back in at all.  As others have reported the Chef_upgrade scheduled task exists still and fails when executed.  Running the upgrade script fails due to a locked file, chef-log.dll which is located in C:\opscode\chef\embedded\lib\ruby\gems\2.3.0\gems\

[2018-02-06 10:05] giorgian opened #90 "Readme: the windows service code snippet is strange"
In section "Running Chef Client As A Windows Service", the README shows this snippet:

    if Chef::VERSION < node['my_update_cookbook']['desired_version']
      run_chef_task_in_ten_minutes = Time.now + 600

      windows_task 'chef-client-upgrade' do
        cwd 'C:\\opscode\\chef\\bin'
        command 'chef-client'
        run_level :highest
        frequency :once
        start_time "#{run_che

[2018-02-07 06:30] wjordan opened #92 "unnecessary rubygems upgrades to latest version"
### Scenario:

Using this cookbook with any Chef Client packaged with Rubygems `< 2.6.11`, which looks to be Chef Client `< 12.21.4`.

### Steps to Reproduce:

Run a default converge (e.g., the `default` suite in the test-kitchen config) using a chef-client version < 12.21.4, with a target version (e.g., `chef_client_updater.version` attribute in the test cookbook) set to the same version.

### Ex

[2018-02-08 22:52] lamont-granquist commented on #79
the problem is that even when we do not run with interval mode we still tend to create the supervisor process and fork off a child process to do the work.

for example, when running chef-client from the command line you actually get two process.  this is all likely overly complicated and poor, but the locking conditions, particularly in buggy chef 11-era versions, will still crop up if you try to

[2018-02-08 22:56] lamont-granquist commented on #79
(or i guess interval runs don't matter and its only no_fork that matters?)

[2018-02-08 23:56] lamont-granquist commented on #68
fixed by #80 but i don't think the omnibus-chef package supports this behavior so it won't actually work until omnibus-chef ever supports it

[2018-02-08 23:56] #68 closed

[2018-02-09 16:01] mitom commented on #73
I told it to upgrade to `12`, I'd assume it functions the same way - in terms of the logic selecting which version to install - as the manual command (the script, really):
[code]

The cookbook failed to detect the correct latest version for the constraint and tried to install an unsupported one which correctly failed, but it selected the wrong version itself. The script correctly detected the late

[2018-02-09 17:35] wjordan commented on #92
More details about how the terrible chain of events this issue triggered in my case. My application recipe (simplified) contains a `chef_client_updater` resource to maintain a specific Chef-Client version and a `gem_package` resource to maintain a specific Bundler version:

[code]

This worked fine, until it mysteriously broke one day. Further testing showed that Bundler was no longer being instal

[2018-02-10 01:29] wjordan commented on #9
I managed to track down the root cause of this issue, here is a minimal repro:

`Dockerfile`:
[code]

`repro.sh`:
[code]

This issue relates to a bug (or rather, partial backwards-incompatibilities) in Rubygems binstub scripts.

### Summary
Rubygems uses a _very fragile_ string-matching regex to parse the spec name from an existing binstub:

- In versions `< 2.5.2` (rubygems/rubygems#1407), the re

[2018-02-12 16:30] jdgoins commented on #74
@rdean716
I haven't looked into if this is a problem, but I'm experiencing the same issue and I have log_location set to WinEvt as well.

[2018-02-23 20:50] sardm opened #95 "chef_client_updater always schedules update when product_name chefdk"
### Cookbook version
3.2.4

### Chef-client version
13.6.4, 13.4.19

### Platform Details
Windows 10, Windows 2012r2

### Scenario:
Upgrade chefdk to latest, or specific version.

### Steps to Reproduce:
1. Create role with recipe[chef_client_updater] and add override attr below, run chef-client with role against node.
{
  "chef_client_updater": {
    "product_name": "chefdk",
    "upgrade_delay":

[2018-03-14 17:05] dabukhader opened #96 "chef_client_updater fails after chef-client been upgrade"
### Cookbook version
3.2.5
### Chef-client version
[Version of chef-client in your environment]

### Platform Details
Centos 7
### Scenario:
Upgrading Chef-client from 12.20.3 to latest (13.8.5)
### Steps to Reproduce:
We are calling this cookbook a role to update chef client
`run_list "recipe[xxxx]", "recipe[chef_client_updater::default]"`
Chef run and update the chef-client but it gives an error

[2018-03-16 17:32] lamont-granquist commented on #96
this is normal and expected for `post_install_action "kill"`

[2018-03-16 17:32] #96 closed

[2018-03-16 17:32] lamont-granquist commented on #85
this is normal and expected for the `:kill` action.

[2018-03-16 17:32] #85 closed

[2018-03-16 18:31] #79 closed

[2018-03-20 17:19] blackdynamite595 commented on #74
@RobbertJanSW

Sorry, this really left my radar for a few months.

I just ran the cookbook again in hopes that a newer version would work for me. Unfortunately it does not. Here are my circumstances:

Currently on chef client v13.6.4, Server 2012R2.

I see "upgrade chef-client 13.6.4 to 13.8.5 Warn: new chef-client installed and exit is allowed. Forcing exit...."

Then the chef run fails, saying a

[2018-03-21 10:13] RobbertJanSW commented on #74
@blackdynamite595

Could you please provide this info:

* Do you (still) have a scheduled task called `Chef_upgrade`?
* What is the last exit code / status of this scheduled task?
* Do you use winevt logging or logging to logfile?
* Do you still have a c:\opscode\chef_upgrade.ps1 ?
* If possible, please run this test on one node: open a powershell console and run the `c:\opscode\chef_upgrade.ps1`

[2018-03-23 12:49] rlaveycal commented on #74
I have a similar issue. I'm logging to file but use nxlog for event log capture. This is holding a lock to chef-log.dll and so prevents the deletion of `\opscode\chef`. Restarting nxlog is sufficient to release the lock. Renaming the `chef` directory also allows the upgrade to complete. It might be an idea to do a rename (to something unique), then delete that folder. Leaving fragments behind isn'

[2018-03-23 15:27] blackdynamite595 commented on #74
@RobbertJanSW thanks for your continued responses!

Yes

Task Scheduler successfully finished "{0068c131-abbc-4021-b8df-0718e8097cd4}" instance of the "\Chef_upgrade" task for user "NT AUTHORITY\SYSTEM". Operational Code (2)

Our chef logs are in C:\chef\log\ or do you mean in general?

Yes

[code]

[2018-03-23 15:37] sputturao commented on #74
Is this issue resolved? I am using the latest version of chef_client_updater cookbook (3.2.6) and upgrade runs fine but fails to run chef-client service.

[2018-03-23 16:54] rlaveycal commented on #74
As an aside I've used this technique in order to stop my nxlog service if a chef update is set to run. I couldn't subscribe to the `chef_client_updater` resource as the hard exit prevents notifications (but not delayed resources)
[code]

[2018-04-02 15:02] bkonick commented on #95
I believe I am seeing this issue also. Trying to test this in kitchen and it just sits in an infinite loop of updating.

[2018-04-02 16:21] bkonick commented on #95
More info:

[code]

This seems like it will only work for chef-client rather than both chef-client and ChefDK:
https://github.com/chef-cookbooks/chef_client_updater/blob/master/providers/default.rb#L105-L107
https://github.com/chef-cookbooks/chef_client_updater/blob/master/providers/default.rb#L133-L142

[2018-04-02 17:02] irvingpop commented on #95
nice investigation @bkonick -  I concur that the `current_version` method is likely the easiest thing to change to something like:

[code]

[2018-04-02 17:45] bkonick commented on #95
Thanks @irvingpop! .. I'll play around with that function and see what I can come up with.

Seems like an easier way to go is use actual OS package names rather than this which appears to be looking at the gem. Given that the statement in the readme is support of all platforms with a chef-client package download that might work?

[2018-04-02 18:12] irvingpop commented on #95
You're right, I think the Ohai `packages` provider may be more reliable for that.

[2018-04-03 16:43] iancward commented on #52
@tas50 Does https://github.com/chef/mixlib-install/pull/242 actually fix this in the upstream? https://github.com/chef/mixlib-install/issues/201 is still open.

[2018-04-05 10:51] mitom opened #103 "Recent change fails on Windows instances due to unguarded cron"
### Cookbook version
3.2.8

### Chef-client version
12.22.1

### Platform Details
Windows Server (2008R2, 2012R2)

### Scenario:
Run chef-client

### Steps to Reproduce:
Run chef-client on windows with the cookbook in the runlist

### Expected Result:
Chef run to finish

### Actual Result:
Chef run fails due to not having cron:
[code]

The change was added [recently](https://github.com/chef-cookbo

[2018-04-10 16:52] anniehedgpeth opened #106 "Error executing action 'update' on resource 'chef_client_updater[update_chef-client]'"
### Cookbook version
3.2.9

### Chef-client version
12.8.1

### Platform Details
Windows Server 2012 R2 Datacenter

### Scenario:
Trying to upgrade to Chef 14 by putting the chef_client_updater recipe or resource at the beginning of my run-list

### Steps to Reproduce:
I first tried to use just the `chef_client_updater` resource and then tried to just include the recipe, and both gave the same err

[2018-04-10 19:36] lamont-granquist commented on #106
the compat_resource cookbook might be problematic.  should make sure you're at least on the latest version of that.  ideally you'd want to not use that, but since you're on 12.8.1 there's a bit of a chicken-and-egg there.

[2018-04-10 19:41] lamont-granquist commented on #106
oh

https://github.com/chef-cookbooks/chef_client_updater/blob/v3.2.9/providers/default.rb#L351

`node['chef_client']['init_style'] == 'init'` is throwing because `node['chef_client']` doesn't exist.

[2018-04-10 22:38] #106 closed

[2018-04-10 22:39] tas50 commented on #103
This was fixed in a later 3.2 release.

[2018-04-10 22:39] #103 closed

[2018-04-11 01:49] anniehedgpeth opened #108 "Error executing action 'update' on resource 'chef_client_updater[Install 14.0.190 and kill]'"
### Cookbook version
3.3.0

### Chef-client version
12.8.1

### Platform Details
Windows Server 2012 R2 Datacenter - Azure

### Scenario:
Trying to upgrade to Chef 14 by putting the chef_client_updater resource in a cookbook at the beginning of my run-list

### Steps to Reproduce:
Before you fixed the last bug, I was including the `chef_client_updater` recipe, but after the bug fix with 3.3.0, I w

[2018-04-11 02:12] lamont-granquist commented on #108
Believe that means it worked fine.

https://github.com/chef-cookbooks/chef_client_updater/blob/master/providers/default.rb#L180

That's the normal exit line.  In chef-12 it certainly didn't know anything about it and couldn't handle that so it just blows up, but that's normal.

[2018-04-11 02:39] anniehedgpeth commented on #108
I got on the node and stepped through `:/opscode/chef_upgrade.ps1`, and it exited on line 6 because a ruby.exe process was running - push jobs. Therefor, I believe this code won't work if you're running push jobs.

[2018-04-11 09:31] algaut commented on #108
I had the same problem while trying to update from chef-client v13.4 to 13.8, nothing was happening after the client exited.
Updating c:/opscode/chef_upgrade.ps1 to stop push-jobs-client seems to do the trick

[2018-04-11 10:25] Happycoil opened #110 "Unsuccessful upgrades when other processes have open handles in chef_install_dir"
### Cookbook version
3.2.6

### Platform Details
Windows

### Scenario:
A frequent problem we encounter when trying to use this cookbook is the upgrade script failing to remove the chef install dir due to open file handles. This is usually because of AV/endpoint protection or similar software.

This causes the upgrade script to fail and chef-client is left in an inoperable state requiring manual i

[2018-04-11 15:46] #108 closed

[2018-04-11 15:47] tas50 commented on #108
This fix has been released. Thanks @anniehedgpeth

[2018-04-12 15:35] gsreynolds commented on #110
https://github.com/chef-cookbooks/chef_client_updater/issues/74 also seems relevant as `chef-log.dll` is the file often locked with open file handles.

[2018-04-12 19:04] sardmang commented on #110
#74 seems relevant, still having issues with chef-log.dll at times.

[2018-04-12 21:31] Makayez opened #112 "Error on Windows - Exit during update phase"
### Cookbook version
3.3.2

### Chef-client version
12.9.41

### Platform Details
Microsoft Windows [Version 6.3.9600]

### Scenario:
On run, errors on step for exiting - removes c:\opscode\chef\* but never continues with install.

[code]

### Steps to Reproduce:
Run cookbook on Windows 8 client with override url (holding omnibus package for Chef 13.8.11)

### Expected Result:
Clean exit, Schedule

[2018-04-13 08:43] gsreynolds commented on #112
Hi @Makayez, this may be related to #110 where the contents of `C:\opscode\chef` are not fully removed and so the upgrade script fails.

* Can you check the contents of `C:\opscode\chef`? `chef-log.dll` may the only file that was unable to be removed in a path like `C:\opscode\chef\embedded\lib\ruby\gems\2.3.0\gems\chef-12.9.41-universal-mingw32\ext\win32-eventlog\chef-log.dll`
* Can you try runni

[2018-04-13 21:15] Makayez commented on #112
I looked at #110 and disabled AV on the system to take that out of the potential issue.
On a re-run of the cookbook, I received the same error.

To answer your questions:
Immediately after failing, if I look - C:\opscode\chef still has a full installation:
[code]

Waiting 1 minute, the C:\opscode\chef is completely empty:
[code]

If at this point I run the powershell script chef_upgrade.ps1 that s

[2018-04-17 14:55] algaut commented on #112
Hello there,

I tried to have a look as of why the powershell script would exit like that. In my environments, on 2012R2 VMs, the scheduled task run was only lasting two seconds. I think the problem comes from the push-jobs stop, which takes a bit of time, and the test that is done directly after, checking for any ruby process. Here's what I got while doing this manually on powershell:

`
PS C:\Us

[2018-04-26 04:30] dal13002 opened #113 "Upgrading windows leaves the server broken"
### Cookbook version
[Version of the cookbook where you are encountering the issue]
3.3.2
### Chef-client version
[Version of chef-client in your environment]
12.16.42
### Platform Details
[Operating system distribution and release version. Cloud provider if running in the cloud]
Tried multiple times on:
Windows Server 2016 Standard Edition (64 bit)
Windows Server 2012 R2 Standard
### Scenario:
[W

[2018-04-26 15:07] dal13002 commented on #113
ohh I'm an idiot. But I still need help
[code]
So I need to download chef-client 14 without SSL check. On Linux I was able to patch wget to run with --no-check-certificate for mixlib. So this
[code]
I'm not sure how to achieve this on windows. Any recommendations?

[2018-04-27 12:34] anniehedgpeth opened #115 "Scheduled Task is Deleted by Installer and Not Restored"
### Cookbook version
3.3.2

### Chef-client version
12.18.31 upgrading to 14.0.190

### Platform Details
Windows Server 2012r2 Datacenter
Azure

### Scenario:
The cookbook runs the upgrade fine, but the installer deletes my `chef-client` scheduled task. Therefor, I need for `chef-client` to run AFTER the upgrade in the upgrade script so that my scheduled task to run `chef-client` can be created ag

[2018-04-27 18:11] #115 closed

[2018-05-09 11:46] tom-thepixel opened #116 "Fail to upgrade due to missing /sbin in path when running dpkg/install script"
### Cookbook version
3.3.3 and 3.3.3

### Chef-client version
13.8.5 trying to upgrade to 13.9.1

### Platform Details
Ubuntu server16.04 LTS completely up to date as of today

### Scenario:
chef-client running on usual 15 minute cron script, but failing every time

### Steps to Reproduce:
chef_client_updater 'Install latest Chef 13.x' do
  version '13'
end

### Expected Result:
chef-client should

[2018-05-09 11:53] tom-thepixel commented on #116
I can confirm the following workaround:
If you change the chef-client cron entry to add /sbin to the PATH environment variable (here I've taken the entire path from the root user) it then runs correctly:

*/15 * * * PATH="/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/snap/bin" /usr/bin/chef-client

[2018-05-09 16:47] lamont-granquist commented on #116
`Mixlib::ShellOut.new(install_script)` should be changed to use `shell_out!` if possible.

[2018-05-09 18:26] Brantone commented on #112
I see that initial post has Chef-client version at 12.9.41, but wonder if it's something in the 13.x part? No issues were experienced with 13.8.5 ; however, now with recently released 13.9.1 experiencing same issues as commented here for 13.8.11 ... so have to wonder:
Did whatever caused this in 13.8.11 also get into 13.9.1??

Seeing as how 14.1.1 release notes mentions `windows_task` betting comp

[2018-05-11 07:16] bratdim opened #118 "chef-client handler phase error during upgrade on RH7 Linux"
### Cookbook version
3.3.3

### Chef-client version
13.8.0

### Platform Details
Red Hat Enterprise Linux Server release 7.3 (Maipo) running in Virtualbox

### Scenario:
I try to upgrade (or downgrade) chef-client on Linux system. The package is upgraded (or downgraded) successfully, service restarted, but with errors in handlers phase

### Steps to Reproduce:
1. create cookbook with this code (re

[2018-05-11 08:31] bratdim commented on #118
I've discovered, that this process must be started by systemd. In this case chef-client handlers still fail with the same error, but the process is restarted:
[code]

[2018-05-17 21:13] wamoore commented on #112
I'm getting the same error when upgrading from 14.0.202 to 14.1.1.  The upgrade basically exist after moving the old client binaries but never actually upgrades to the new client.  It is leaving all the windows boxes with no chef client installed and not checking in.  Add/Remove programs still shows the old version installed.

[2018-05-29 19:02] anniehedgpeth opened #120 "Can't downgrade to desired version on Windows"
### Cookbook version
3.3.2

### Chef-client version
14.0.190

### Platform Details
Azure
Windows Server 2012r2

### Scenario:
When I try to downgrade chef client from `14.1.190` to `12.18.31`, it never takes me to `12.18.31`. It will always downgrade to another lower version, but never the one I specified in my attribute, which puts it in a loop where it’s never finished completing the downgrade b

[2018-05-30 00:06] #110 closed

[2018-05-30 13:48] stuartpreston commented on #120
@anniehedgpeth, I just tested this with the latest version of the cookbook (3.3.4) and was able to downgrade successfully from 14.0.190 (manually installed) to 12.18.31 (downgraded via cookbook)

First of all in your recipe you'll need to pass `false` to the prevent_downgrade attribute, i.e. the first line of your recipe should read:

```node.default['chef_client_updater']['prevent_downgrade'] = f

[2018-05-30 15:23] anniehedgpeth commented on #120
This was a copy/paste error (just confirmed on my Chef server), but yes, I did have it on false:
`node.default['chef_client_updater']['prevent_downgrade'] = false`

I had just changed it back after I was done testing.

[2018-05-30 19:16] anniehedgpeth commented on #120
@stuartpreston I tested it again, this time on v3.3.4 of the cookbook. One time it worked (properly downgraded to the desired version), and three times it didn't (tried to downgrade to another random version). One of the times that it didn't, this was the only thing in the chef_upgrade log:

[code]
This was the stacktrace:
[code]

[2018-05-31 15:10] stuartpreston commented on #120
@anniehedgpeth I'm puzzled by how you got here.  You start by saying that you're trying downgrade Chef Client, but as you can see in the stack trace, the chef-client from the push-jo client appears to be invoked!  So I'm totally confused by how you got to this stage.  Could you outline the steps and outcomes, also could you comment on the state of the machine at the time of the first "downgrade" (

[2018-06-08 16:48] mhugley opened #121 "chef-client scheduled task gets deleted"
### Cookbook version
3.3.4

### Chef-client version
13.9.1

### Platform Details
Windows 2016 and Windows 2008r2

### Scenario:
Server running chef-client 13.9.1 with scheduled task and when adding chef-client-updater to the run_list and runs and works but deletes the chef-client scheduled task

### Steps to Reproduce:
Create Windows Server with chef-clinet 13.9.1 and add chef-client-updater to th

[2018-06-26 22:50] yardinicwaller opened #124 "chef-client is not killed after upgrade"
### Cookbook version
chef_client_updater v3.3.4

### Chef-client version
Upgrading from chef-client 12.22.5 to 13.9.4

### Platform Details
Ubuntu 14.04.5 on AWS (ami-374dff53 in ca-central-1)

### Scenario:
I am trying to upgrade chef-client from 12.22.5 to 13.9.4 using chef_client_updater.

### Steps to Reproduce:
chef-client is being managed by upstart as confirmed by Chef node attributes and r

[2018-06-26 23:09] lamont-granquist commented on #124
About all I can think of is that the chef-client run which did the upgrade was not a child of that supervisor process, so no signal was sent, which would be normal.

This could happen if you did the upgrade via a manually launched chef-client run.  In which case you really need to clean up manually as well.

The code is pretty clear that the converging run will SIGKILL its parent and there's no wa

[2018-06-26 23:47] yardinicwaller commented on #124
It would probably be useful to specify in the README that manually launching chef-client (eg. `sudo chef-client`) when an upgrade is pending will leave the previous version of chef-client running on the system. That was not the behaviour I originally expected; I thought chef would identify and kill the process managed by upstart.

Sending the USR1 signal to chef-client seems to work better because

[2018-07-16 13:24] lbn-chef-team commented on #68
Hello,

Thanks for the fix but i still got an error.

[code]

some path are still hardcoded here in providers/default.rb line 262:
[code]
it should be:
[code]

and here in providers/default.rb line 389:
[code]
it should be:
[code]

[2018-07-17 19:19] #95 closed

[2018-07-23 16:07] jjustice6 commented on #121
This is due to the .MSI file.

The update process looks for a task with that name and deletes it. See:
https://github.com/chef/chef/blob/a3ffe453522b33165c3553097fffeedf705d07f5/omnibus/resources/chef/msi/source.wxs.erb#L108-L110
and
https://github.com/chef/chef/blob/a3ffe453522b33165c3553097fffeedf705d07f5/omnibus/resources/chef/msi/source.wxs.erb#L86-L91
for the responsible code.

You can get ar

[2018-07-25 19:26] acqant opened #127 "exit kitchen cleanly"
### Cookbook version
3.4.0

### Chef-client version
13.3.42

### Platform Details
ubuntu 14.04 iso

### Scenario:
upgrade chef-client.
Test upgrade in kitchen
Don't exit 1
### Steps to Reproduce:
Test in kitchen with exec. It switches to kill

### Expected Result:
Expecting the cookbook to not send a failure exit

### Actual Result:
chef-client-updater exits with error

We can't put this in jenkin

[2018-07-25 21:12] acqant commented on #127
Been playing with this for awhile.
Thinking maybe a third option called 'kitchen' will work to preserve the exec option.

[2018-07-26 13:30] lbn-chef-team opened #128 "unable to use chef_install_dir path because still hardcoded in providers/default.rb"
Hello,

This refer to #68

Thanks for the fix but another error occurs.

[code]

some path are still hardcoded here in providers/default.rb line 289:
[code]
it should be:
[code]

and here in providers/default.rb line 423:
[code]
it should be:
[code]

and here in providers/default.rb line 434:
[code]
it should be:
[code]

[2018-07-27 09:11] deevidh commented on #112
We're still feeling a lot of pain on this issue.

Surely we can make the upgrade process substantially more reliable by looping over the check for running opscode ruby processes in chef_upgrade.ps1:
[code]

[2018-07-30 19:10] huamichaelchen opened #129 "I think chef_client_updater won't work for windows upgrade (please read the description) for more details"
### Cookbook version
chef_client_updater: 3.3.4

### Chef-client version
12.12.15

### Platform Details
[Operating system distribution and release version. Cloud provider if running in the cloud]
windows 2012 r2

### Scenario:
[What you are trying to achieve and you can't?]
I'm trying to upgrade chef client from 12.12.15 to the latest by running the cookbook

### Steps to Reproduce:
[If you are fi

[2018-08-01 16:18] stuartpreston commented on #129
Hi @huamichaelchen - the behaviour you experienced is by design, we want the current Chef Client to exit as fast as possible after setting up a scheduled task containing the PowerShell script required to run the real upgrade.  If this didn't work for you, have a look in your c:\opscode folder for a log file and join us in the #windows channel in [Chef Community Slack](https://community-slack.chef.

[2018-08-01 16:18] #129 closed

[2018-08-01 16:20] stuartpreston commented on #128
Agree - thanks for raising this issue

[2018-08-02 11:12] RobbertJanSW commented on #112
IDK why the rerun has been removed. The initial scheduled task for this upgrade mechanism was scheduled to run every minute (unless already running). Thats why the scripts "just" bails out like that. It presumes it will retry within a minute.

[2018-08-08 14:49] gigacardoso opened #132 "Platform `amazon` not found (Mixlib::Install::Backend::ArtifactsNotFound)"
### Cookbook version
3.1.3

### Chef-client version
12.19.36

### Platform Details
Amazon Linux AMI 2018.03.0.20180622 x86_64

### Scenario:
Update chef-client (or downgrade chef-client);

### Steps to Reproduce:
Add `chef_client_updater` to Policyfile run_list; bootstrap a node, chef-client will fail on node with `Mixlib::Install::Backend::ArtifactsNotFound` error.

### Expected Result:
`chef-cli

[2018-08-08 17:54] #132 closed

[2018-08-14 14:04] bkonick opened #133 "Cron restart does not appear to work on AIX 6.1 or RHEL 6"
### Cookbook version
3.4.1

### Chef-client version
12.21.31

### Platform Details
AIX 6.1 and RHEL 6

### Scenario:
Upgrade chef client from 12.9.41 to 12.21.31 (intermediate hop to get to 13 so we can use a modern chef-client cookbook)

### Steps to Reproduce:
Use chef_client_updater with cron restart on AIX 6.1 and RHEL 6

### Expected Result:
Chef client gets upgraded, next run works successfu

[2018-08-14 17:11] bkonick commented on #133
I believe I am seeing this on RHEL 6 as well. Same issue. Upgrade works, but process is stale / the old binary.

[2018-08-14 17:25] bkonick commented on #133
Updated original comment with RHEL log

[2018-08-16 13:33] bkonick commented on #133
I worked with Chris from support yesterday on a screen share and it seems like the issue may be from running chef-client manually to do the upgrade instead of letting the running service take care of that. We may be able to close this issue, though it would be nice for any chef-client processes to get killed rather than the one initiating the upgrade.

[2018-08-21 14:00] bkonick commented on #133
Following up on this now that it is resolved. The restart on AIX issue was indeed related to not letting the service do the upgrade.

The same applies for RHEL 6. However, a new issue arose with a defunct process appearing when Chef is killed during the upgrade. This caused issues with subsequent runs until the service was restarted again (they would execute but fail for odd reasons). The resoluti

[2018-08-21 14:00] #133 closed

[2018-08-22 11:53] Happycoil commented on #121
If you configure the chef-client task in the same run list you can also use `post_install_action "exec"`. This means the upgrade script will run chef-client when it's done, which in turn recreates the task.

[2018-08-22 14:06] jjustice6 commented on #121
Note that you can only do that in certain situations, otherwise Chef will forcibly change `exec` to `kill`: https://github.com/chef-cookbooks/chef_client_updater/blob/v3.4.2/providers/default.rb#L167-L179

[2018-08-23 01:16] nweddle commented on #121
@jjustice6 We're seeing this behavior as well with Windows. We're always forced to `kill` which does not seem to jive with the README any longer:

@Happycoil The scheduled task being deleted by the client MSI installer is the `chef-client` scheduled task, that our team is managing that with the `chef-client` cookbook. We're expecting it to survive the upgrade so that chef-client will be executed a

[2018-08-23 05:38] Happycoil commented on #121
@nweddle what I'm saying is if you set post_install_action to exec now and the chef-client cookbook (or your own custom task creation recipe) is in the run list the task will be recreated. The code is convoluted, but it adds an execution of chef-client to the end of the upgrade script _before_ post_install_action is set back to kill.

[2018-08-25 00:39] nweddle commented on #121
@Happycoil Thank you for checking my assumptions! 👍 You are completely correct. After switching to `exec` for our Windows nodes, we're seeing the expected behavior.

Seeing

logged in the chef-client output was a red-herring. Combining that with the opaque code logic for Windows, along with a README that could use some clarification, all led to us creating a completely unnecessary scheduled task.

[2018-08-28 15:00] palaniswamy opened #135 "Private rubygems server on https does not work because the cookbook does not allow to use private CA"
### Cookbook version
3.4.0

### Chef-client version
12.4.1

### Platform Details
Red Hat 7.5

### Scenario:
I am trying to use this cookbook to update the chef-client package to 13.4.24.

### Steps to Reproduce:
When trying to use private ruby gems servers as follows, the cookbook fails for SSL error.

chef_client_updater 'update chef-client' do
  channel node['chef_client_updater']['channel']
  v

[2018-08-30 20:06] jtimberman opened #136 "only run cron job 5 minutes from "now""
### Cookbook version

3.3.5

### Chef-client version

14.3.37, 14.4.56

### Platform Details

Ubuntu 14.04

### Description

We have chef-client setup to run on an interval using the `chef-client` cookbook. We have set our interval to 3600 and our splay to 60. This is all well and good, however when `chef_client_updater` upgrades Chef, we get dozens of cron emails from our systems until the next `

[2018-08-31 23:11] #136 closed

[2018-09-13 15:09] lphillips1 commented on #57
Forgive me, if I am not in the correct space to pose this question; I am new to this thread...
What can and/or should I do about this:?
OpenSSL::Cipher::CipherError
----------------------------
bad decrypt

Cookbook Trace:
---------------
  /var/chef/cache/cookbooks/inspired/libraries/default.rb:29:in `final'
  /var/chef/cache/cookbooks/inspired/libraries/default.rb:29:in `decrypt'
  /var/chef/cac

[2018-09-15 13:54] kitforbes opened #138 "Cleanup "chef.broken" directory"
### Cookbook version
3.5.0

### Chef-client version
13.8.5

### Platform Details
Windows Server 2012 R2 / 2016

### Scenario:
After upgrading from 12.x to 13.8.5, the `chef.broken` is sometimes created and is not deleted in subsequent runs. The [`cleanup` definition](https://github.com/chef-cookbooks/chef_client_updater/blob/1997a1c51214c2bb0aa5f3953381b63d05b93077/providers/default.rb#L226) shoul

[2018-11-12 16:31] coding-blip opened #139 "Windows OS Upgrade Issues"
### Cookbook version
3.5.0

### Chef-client version

- Had issue when updating from 14.6.47 to 14.7.17.
- Also had issue when updating from 14.5.33 to 14.6.47.
- Also had issue when updating from 13.12.3 to 14.5.33.
- Also had issues (related to first try with this cookbook) when updating from version X.X.X to 13.12.3. This is when the updater cookbook was first implemented.

### Platform Details

[2018-11-20 20:58] clambrecht-ofi opened #140 "rubygems_url attribute isn't set in default recipe"
### Cookbook version
3.5.0

### Chef-client version
14.6.47

### Platform Details
CentOS v7
RHEL v7

### Scenario:

### Steps to Reproduce:
 Set the rubygems_url attribute for the chef_client_updater recipe.  Call the chef_client_updater default recipe.

### Expected Result:
The request for gems to download should hit the value set in rubygems_url attribute.

### Actual Result:
The recipe fails af

[2018-12-17 21:57] aink99 opened #141 "undefined method version"
Cookbook version
3.5.0

Chef-client version
113.4.19

Platform Details
Oracle Linux 7

Scenario:
Steps to Reproduce:
Simple recipe that works on other servers

chef_client_updater 'Install latest Chef 14.x' do
  version '14'
end

Expected Result:
Should upgrade the chef client to the latest 14 versio

Actual Result:
   undefined method `version' for nil:NilClass
=============
Full  Stack trace 👍
v

[2018-12-20 00:11] #141 closed

[2019-01-16 21:45] ALeonard9 opened #143 "Upgrade succeeds, daemon no longer running"
### Cookbook version
3.5.1

### Chef-client version
14.0.202

### Platform Details
RHEL7 & Centos7

### Scenario:
Upgrade Chef Client to 14.8.12 on RHEL7 & Centos7.

### Steps to Reproduce:
Our current fleet uses chef-client 14.0.202. We've set the interval to every 30 minutes. We use the community chef-client cookbook to set this up (all defaults). We've added the following recipe to our base coo

[2019-01-23 23:34] donwlewis commented on #118
I actually see the behavior you first described.  How I am doing the upgrade is running `chef-client -o recipe[wrapper_cookbook]` on the nodes that I want to upgrade.  Is this the way it should be done, or should the upgrade happen through the interval set by the init process?  This is not very clear from the documentation.

[2019-03-06 20:33] robnasby commented on #135
Is there any update on this issue?  We are having a very similar problem, were after upgrading the client can't communicate with our Chef Sever, because it is using an SSL certificate issues by our private CA.  The upgrader doesn't copy the custom `ca_cert` file from the existing version to the new one.

We're happy to work on a solution, but would like some input on how best to resolve it (we hav

[2019-03-21 10:42] pde159 opened #147 "Chefdk version not detected on windows"
### Cookbook version
3.5.2

### Chef-client version
C:\Windows\system32>chef -v
Chef Development Kit Version: 3.7.23
chef-client version: 14.10.9
delivery version: master (64f556d5ebfd7bac2c0b3cc2c53669688b3ea4b5)
berks version: 7.0.7
kitchen version: 1.24.0
inspec version: 3.4.1

### Platform Details
windows 10 x64

### Scenario:
run chef-client on windows with administrator privileges

### Steps

[2019-08-09 14:02] Pahanda opened #154 "chef_client_updater stuck in client restart loop [Ubuntu 14]"
### Cookbook version
3.5.3

### Chef-client version
15.1.36

### Platform Details
Ubuntu 14.04 LTS

### Scenario:
chef_client_updater is part of my "standard" run list for Linux nodes.
When it runs on an Ubuntu 14 system, the cookbook determines that there is a newer version (15.2.20) and begins to download and install it.  However, because Ubuntu 14 is EOL, Chef is (correctly, of course) no longe

[2019-08-19 22:14] matt-connolly opened #155 "Please add attributes for the tests so we can control the value from a wrapper"
### Cookbook version
[Version of the cookbook where you are encountering the issue]
3.5.3

### Chef-client version
[Version of chef-client in your environment]
15.2.20

### Platform Details
[Operating system distribution and release version. Cloud provider if running in the cloud]
Any

### Scenario:
[What you are trying to achieve and you can't?]
I'm trying to include the tests from chef_client_up

[2019-09-04 20:58] mi5key opened #157 "Full update fails on RHEL6, not killing service, waiting for license acceptance"
### Cookbook version
3.5.3

### Chef-client version
13.9.4

### Platform Details
Red Hat Enterprise Linux Server release 6.10 (Santiago)

### Scenario:
Update the chef client from 13.9.4 to current

### Steps to Reproduce:
Attach role[update_chef_client] to node, run chef-client

### Expected Result:
RPM updates, current service is killed, cron job starts service.

### Actual Result:
RPM updates:

[2019-09-16 17:19] teddmjr opened #158 "Non-Zero Exit Status When Upgrading Chef Client From 15.1.36 to 15.3.14"
### Cookbook version
3.5.3

### Chef-client version
15.1.36

### Platform Details
RedHat Enterprise Linux Server 7.6 (Maipo) on Google Cloud
1 vCPU, 3.75 GB RAM (n1-standard-1 Google cloud instance machine type)

### Scenario:
Achieve zero status code when updating from 15.1.36 to current (15.3.14), using chef-client

### Steps to Reproduce:
As root, run "chef-client -o recipe[chef_client_updater]

[2019-09-23 09:56] NAshwini commented on #158
Hi @teddmjr,
This is an expected behavior of this cookbook because for updating chef-client chef needs to kill the previous services of chef-client with `exit code 213` as here   https://github.com/chef-cookbooks/chef_client_updater/blob/master/providers/default.rb#L212.

Exit code 213 is predefined in Chef's exit codes for updating chef-client, For more information related to exit code 213 can re

[2019-09-24 11:03] NAshwini commented on #157
Hi @mi5key,
   Followed your repro steps but unable to reproduce the issue on RHEL 6.10. For me chef-client updates from 13.9.4 to current (15.3.14) without any error of licence acceptance.

Can you please confirm whether this issue still persist on your end. If yes what was the latest chef-client version on issue was occurred.

[2019-09-27 09:47] NAshwini commented on #157
@mi5key,
Merging this PR https://github.com/chef-cookbooks/chef_client_updater/pull/150 will resolve this issue.

[2019-10-14 13:48] NAshwini commented on #158
Please let us know in case of more details are required. Closing this issue.
Thank you.

[2019-10-14 13:48] #158 closed

[2019-10-14 21:59] #157 closed

[2019-10-14 21:59] tas50 commented on #157
This should be fixed in 3.6.0

[2019-10-16 22:36] lamont-granquist commented on #155
The tests for this cookbook aren't a public API, you can't expect them to be stable like that.

[2019-10-23 23:57] donwlewis commented on #127
Sad that the documentation says that this should work but still doesn't....

[2019-10-24 00:23] donwlewis commented on #127
Nevermind.  My bad.  This appears to be more of an older chef-client problem thingy...

[2019-10-25 21:24] donwlewis opened #163 "chef_client_updater resource times out in airgapped environment."
### Cookbook version
3.6.0

### Chef-client version
13.6.4

### Platform Details
RHEL7 - Airgapped

### Scenario:
Updating the chef client in an airgapped environment.

### Steps to Reproduce:
Setup a system that has no access to external chef resources.  Provide the `download_url_override` property using `chef_client_updater` resource in a wrapper cookbook, along with the `version` you are instal

[2019-10-28 16:44] donwlewis commented on #163
Nope.  This was my bad.  I did something done.  Works as intended.

[2019-10-28 16:44] #163 closed

[2019-11-13 13:27] Nimesh-Msys commented on #147
As per the testing, reason is: [current_version](https://github.com/chef-cookbooks/chef_client_updater/blob/master/providers/default.rb#L137) is returning the output which contains carriage return character in it due to which [Mixlib::Versioning.parse](https://github.com/chef-cookbooks/chef_client_updater/blob/master/providers/default.rb#L167) is returning ```nil```.
When this ```nil``` is [compar

[2019-11-18 10:15] dheerajd-msys commented on #140
This issue is being fixed in https://github.com/chef-cookbooks/chef_client_updater/pull/165

[2019-11-18 17:03] #140 closed

[2019-11-19 07:17] dheerajd-msys commented on #90
README is updated in https://github.com/chef-cookbooks/chef_client_updater/pull/78.

Closing this issue.

[2019-11-19 07:17] #90 closed

[2019-11-19 22:16] #128 closed

[2019-11-19 22:17] #147 closed

[2019-11-19 22:17] tas50 commented on #147
Fixed on master

[2019-11-20 06:17] dheerajd-msys commented on #138
Hi @kitforbes We've fixed this issue in commit https://github.com/chef-cookbooks/chef_client_updater/commit/132265dccf9b2087cd47b6eaa78b7fd1d0be940f .

Closing this issue. Thanks!!

[2019-11-20 06:17] #138 closed

[2019-11-20 06:35] dheerajd-msys commented on #71
Fixture is done in https://github.com/chef-cookbooks/chef_client_updater/pull/78 .

Closing the issue.

Thanks!!

[2019-11-20 06:35] #71 closed

[2019-11-20 07:08] dheerajd-msys commented on #52
cc : @tas50

[2019-11-20 09:37] dheerajd-msys commented on #127
@acqant @donwlewis I was just wondering if you are following https://github.com/chef-cookbooks/chef_client_updater#test-kitchen-testing to test the cookbook with `post_install_action` option set to `exec`. Please confirm.

[2019-11-20 09:46] dheerajd-msys commented on #73
Closing this issue based on above comments and since `chef v12` and `ubuntu 12.02` is EOL .

Thanks!!

[2019-11-20 09:46] #73 closed

[2019-11-20 12:02] dheerajd-msys commented on #120
@anniehedgpeth Could you please confirm about https://github.com/chef-cookbooks/chef_client_updater/issues/120#issuecomment-393562827 ?

[2019-11-20 15:24] anniehedgpeth commented on #120
Sorry, I must've found a workaround and had gotten too busy to dig further into this.

I don't know why the stack trace says that chef-client from the push-jobs-client was invoked. It wasn't invoked purposely. Perhaps there was a bug in that version of push jobs that caused it to run? Not sure.

No, no intermediate versions of Chef Client would have been installed. We didn't even use or want v13 a

[2019-11-20 20:43] iasllani opened #168 "License attribute not accepting"
### Cookbook version
[Version of the cookbook where you are encountering the issue]
3.6.0

### Chef-client version
[Version of chef-client in your environment]
12.9.41 updating to 15.2.20

### Platform Details
[Operating system distribution and release version. Cloud provider if running in the cloud]
Windows server 2008, but also tested in CentOS 7, same result

### Scenario:
[What you are trying

[2019-11-21 18:31] tas50 commented on #168
You'll want to update to the 3.7.x cookbook and then you can set license acceptance via this attribute: https://github.com/chef-cookbooks/chef_client_updater/blob/master/attributes/default.rb#L57

[2019-11-21 18:31] #168 closed

[2019-11-27 14:04] iasllani commented on #168
**To be clear, the attribute was available in the 3.6.0 version I ran, I set it to both, accept and accept-no-persist.

With 3.7.1 I'm getting a new error:**

resolving cookbooks for run list: ["chef_client_updater"]
Synchronizing Cookbooks:
  - chef_client_updater (3.7.1)
Installing Cookbook Gems:
Compiling Cookbooks...
←[0m
========================================================================

[2019-11-29 08:56] dheerajd-msys commented on #127
@acqant @donwlewis Can we close this issue if this is no longer bugging you? Please check https://github.com/chef-cookbooks/chef_client_updater/issues/127#issuecomment-555921940 .

[2019-11-29 09:57] dheerajd-msys commented on #51
@trevorghess
We are no longer getting loop with latest cookbook.
[code]
@tas50 do we need anything else to close this issue ?

[2019-11-29 23:01] iasllani opened #170 "License Attribute not working for version 3.7.x"
You'll want to update to the 3.7.x cookbook and then you can set license acceptance via this attribute: https://github.com/chef-cookbooks/chef_client_updater/blob/master/attributes/default.rb#L57

_Originally posted by @tas50 in https://github.com/chef-cookbooks/chef_client_updater/issues/168#issuecomment-557214360_

**To be clear, the attribute was available in the 3.6.0 version I ran, I set it t

[2019-11-30 05:42] #51 closed

[2019-11-30 05:42] tas50 commented on #51
Sounds like we can close this one out to me since we can't repro it anymore

[2019-12-02 11:31] Nimesh-Msys commented on #170
Not only the compilation but also the complete execution seems to be running fine at my end.
Could you please provide certain details like chef-client version, the actual recipe and the ruby version. Noted the platform: x64-mingw32. It would really be helpful if you could tell us the output of `chef -v`.

[2019-12-03 10:24] dheerajd-msys commented on #74
Closing this issue as it seems fixed in https://github.com/chef-cookbooks/chef_client_updater/pull/149.

[2019-12-03 10:24] #74 closed

[2019-12-03 10:26] dheerajd-msys commented on #127
@acqant @donwlewis Please check and confirm ^ .
Thank you!!

[2019-12-03 10:29] dheerajd-msys commented on #155
@lamont-granquist I guess we can close this issue if there are no more actions required as per your comment https://github.com/chef-cookbooks/chef_client_updater/issues/155#issuecomment-542919636

[2019-12-03 15:17] acqant commented on #127
yeah close it up

[2019-12-03 16:03] #127 closed

[2019-12-03 18:04] #155 closed

[2019-12-03 20:31] iasllani commented on #170
Running default recipe of the cookbook version 3.7.1,
3.6.0 would help me update from 12.9.41 go 15.2.20, but the license would still have to be accepted by the user through the console, despite setting the attribute for the license to 'accept'
Testing on windows server 2008 r2

-v output:
Microsoft Windows [Version 6.1.7601]
Copyright (c) 2009 Microsoft Corporation.  All rights reserved.

C:\User

[2019-12-05 07:18] dheerajd-msys commented on #52
@tehsuk @iancward Could you please check & confirm with latest cookbook if you are facing any issues?
Proxy support is added in `mixlib-install v3.6.0` and we've closed the issue https://github.com/chef/mixlib-install/issues/201 as well regarding this.

Please let us know if there is anything.

Thanks!!

[2019-12-09 21:29] danielcbright commented on #170
@Nimesh-Msys it looks like this command is not working properly in a WIndows environment:

https://github.com/chef-cookbooks/chef_client_updater/blob/master/providers/default.rb#L470

even when you run it manually, it still asks to accept the license, I recommend changing this to add the license directly to the `config.rb` but that's my opinion :)

[2019-12-12 01:47] joegoggins commented on #74
Hey there @dheerajd-msys , I am still experiencing this problem on Windows 10, chef-client 15.5.17 downgrading to 15.5.16 via chef_client_updater@3.7.3. Even after observing the "upgrade chef" scheduled task run with a `0x1 return code, observing the chef_upgrade.log looks successful, waiting for 30 minutes, rebooting, I end up with `'chef-client' is not a recognized as an internal or external com

[2019-12-16 12:13] Nimesh-Msys commented on #170
Agreed, I tried upgrading chef-client 12.10.24 to 15.6.10(latest stable till date) on Microsoft Windows Server 2012 R2 Datacenter with all three possibilities `default['chef_client']['chef_license']` as `nil`, `accept` and `accept-no-persist`. It still asks for accepting the license. We are working on it.

[2019-12-19 06:42] dheerajd-msys commented on #120
Hi @anniehedgpeth,
Tried to verify from my end and chef downgrade is working perfectly fine with latest cookbook **_v3.7.3_**.
[code]
Closing this issue.

[2019-12-19 06:42] #120 closed

[2019-12-19 07:27] dheerajd-msys commented on #154
Hi @Pahanda,
We've tried to reproduce this issue through `kitchen converge` and found it finished successfully without getting stuck on restart loop.

[code]
Please let us know if you need any more information.

[2019-12-20 08:44] dheerajd-msys commented on #154
@Pahanda Could you please try to use the latest cookbook and check ?

We are also going to confirm it manually running cookbook in **ubuntu 14**

[2019-12-20 09:48] dheerajd-msys commented on #154
Have run the cookbook on **_ubuntu 14_**

[code]
Please take a look !!

[2019-12-21 14:39] dheerajd-msys commented on #121
It seems we've fixed this issue in https://github.com/chef-cookbooks/chef_client_updater/pull/148 .
Closing this issue.

[2019-12-21 14:39] #121 closed

[2019-12-21 14:40] dheerajd-msys commented on #139
It seems we've fixed this issue in https://github.com/chef-cookbooks/chef_client_updater/pull/148 .
Closing this issue.

[2019-12-21 14:40] #139 closed

[2019-12-23 12:16] dheerajd-msys commented on #52
@tehsuk  @iancward Could you please check and confirm ^ ?

[2019-12-23 14:23] iasllani opened #172 "Chef_upgrade task stuck on (Running) doesn't complete upgrade on Windows"
### Cookbook version
[Version of the cookbook where you are encountering the issue]
3.8.0

### Chef-client version
[Version of chef-client in your environment]
12.9.41

### Platform Details
[Operating system distribution and release version. Cloud provider if running in the cloud]
Windows 2008 R2

### Scenario:
[What you are trying to achieve and you can't?]
Trying to upgrade client from 12.9.41,

[2019-12-30 06:34] dheerajd-msys commented on #52
Closing this issue based on comment https://github.com/chef-cookbooks/chef_client_updater/issues/52#issuecomment-562004664.

[2019-12-30 06:35] #52 closed

[2019-12-30 11:53] dheerajd-msys commented on #154
In order to compare the download url for chef just checked with bootstrap command for ubuntu14, getting :
[code]
which matches with download url in comment https://github.com/chef-cookbooks/chef_client_updater/issues/154#issuecomment-567370154 while using test-kitchen.

@Pahanda Please take a look and let us know if there is anything.

[2019-12-31 10:20] dheerajd-msys commented on #135
Hello @palaniswamy @robnasby ,

We've recently added support for custom ruby gem server in cookbook **_v3.7.0_**.

Could you please try with the latest cookbook and get back to us if you face any issue?

Thanks,
Dheeraj

[2020-01-06 13:10] dheerajd-msys commented on #135
Closing this issue for now based on https://github.com/chef-cookbooks/chef_client_updater/issues/135#issuecomment-569904102 as we have added support for custom rubygems server.

Please feel free to re-open if you face any issue regarding this.

Thanks!

[2020-01-06 13:10] #135 closed

[2020-01-06 19:50] iasllani commented on #172
any updates?

[2020-01-07 13:59] dheerajd-msys commented on #154
Closing this issue due to **ubuntu14 EOL** and also based on above comments.
Please let us know if there is anything.

[2020-01-07 13:59] #154 closed

[2020-01-07 20:23] iasllani opened #174 "ruby.exe not recognized error"
### Cookbook version
[Version of the cookbook where you are encountering the issue]
3.6.0

### Chef-client version
[Version of chef-client in your environment]
12.9.41

### Platform Details
[Operating system distribution and release version. Cloud provider if running in the cloud]
Windows 2008 R2

### Scenario:
[What you are trying to achieve and you can't?]
Trying to upgrade client from 12.9.41,

[2020-01-08 17:44] cdbeard2016 commented on #172
Hi Iasllani,

I ran into this today on 2012r2. The scheduled task launches a powershell script which the cookbook writes to c:\opscode\chef\chef_upgrade.ps1 by default. In my case I got two interactive prompts for maxCount and inMinutes which I suspect might be preventing the task from proceeding. If you run that script in an admin powershell session what does it give you?

I had a poke around in

[2020-01-08 18:58] iasllani commented on #172
great find. tested on 2008r2 and the client is upgraded, still per https://github.com/chef-cookbooks/chef_client_updater/issues/172 license is not accepted despite defining attribute with either 'accept' or 'accept-no-persist'

[2020-01-09 07:42] dheerajd-msys commented on #116
@tom-thepixel We've tried to reproduce the issue on **Ubuntu16.04** with latest cookbook.
Added attribute `node['chef_client_updater']['restart_chef_via_cron'] == true` in `attributes\default.rb` so as to use cron.
It seems it is running and upgrading perfectly fine at our end.
## Output
[code]
Closing for now. Please check with latest cookbook and let us know if you face the issue.
Happy to help!

[2020-01-09 07:42] #116 closed

[2020-01-09 08:09] yangpeng-chn opened #175 "OpenSSL::SSL::SSLError: chef_client_updater[update chef-client]"
### Cookbook version

3.8.0

### Chef-client version
Chef Infra Client: 15.0.298

### Platform Details
Redhat 7.3 x86_64

### Scenario:
Chef Client update failed due to OpenSSL::SSL::SSLError

### Steps to Reproduce:
Specify internal download url for chef-client package.
Run recipe 'chef_client_updater::default' for node

### Expected Result:
New chef client should be installed

### Actual Result:

[2020-01-09 09:15] dheerajd-msys commented on #118
@bratdim Per README exit is allowed for smooth upgrade process. Thanks for the confirmation in https://github.com/chef-cookbooks/chef_client_updater/issues/118#issuecomment-388298474 about restart of the service.

@donwlewis To answer your question, Yes you can run the cookbook on node to upgrade.

Closing for now as it's not an issue.

Thank you!

[2020-01-09 09:15] #118 closed

[2020-01-10 02:08] yangpeng-chn commented on #175
It seems like I had to set the following attributes if internal download URL for chef-client was specified.

[code]
It worked after making the above change.

[2020-01-10 02:33] dheerajd-msys commented on #175
@yangpeng-chn Thank you for confirmation. Closing the issue.

[2020-01-10 02:33] #175 closed

[2020-01-13 17:06] rymurph20 opened #176 "rubygems_url being set to `Nil` causes chef-client to fail"
### Cookbook version
chef_client_updater v3.7.3

### Chef-client version
12.22.5

### Platform Details
Ubuntu 16.04 AWS EC2

### Scenario:
Running chef-client

### Steps to Reproduce:
1) Update to version 3.7.3 of chef_client_updater
2) Run chef-client
3) chef-client completes successfully
4) Run chef-client again
5) chef-client fails a gem URL error (see below)

### Expected Result:
chef-client c

[2020-01-14 22:15] #170 closed

[2020-01-14 23:18] #172 closed

[2020-01-14 23:18] tas50 commented on #172
Fixed in 3.8.2

[2020-01-24 10:36] dheerajd-msys commented on #112
With latest cookbook **v3.8.2** client is upgrading properly although with not proper clean up on Windows 2008R2 and upgrading from 12.9.41 to latest.

Also since support for Windows 2008 is removed and unsupported chef client version **v12.9.41** closing this issue for now.

Please feel free to file another issue if get similar issue.

Thanks!

[2020-01-24 10:36] #112 closed

[2020-01-24 10:46] dheerajd-msys commented on #174
@iasllani With latest cookbook **_v3.8.2_** client is getting upgraded properly from 12.9.41 to latest without this issue.
So closing this issue for now.

Thanks!

[2020-01-24 10:46] #174 closed

[2020-01-27 11:05] theattic9 commented on #74
Using chef_client_updater version 3.8.2 oOn windows : upgrading from chef-client-15.5.17-1-x64 to chef-client-15.6.10-1-x64. It updates then errors :

Recipe: chef_client_updater::default
  * chef_client_updater[update chef-client] action update
    * chef_gem[mixlib-install] action install
      - install version ~> 3.11 of package mixlib-install
    * remote_file[C:\chef\cache/handle.zip] action

[2020-01-27 11:19] theattic9 opened #178 "chef_client_updater on Windows : Installs then errors : The batch file cannot be found"
### Cookbook version : 3.8.2

### Chef-client version : chef-client-15.5.17

### Platform Details : Windows Server 2012 R2 Enterprise

### Scenario: use the chef_client_updater to upgrade to newer version.

### Steps to Reproduce:
Install chef-client-15.5.17 and chef-client run completes successfully.

Configured the following attributes :
['chef_client_updater']['download_url_override']
['chef_cl

[2020-01-28 06:56] dheerajd-msys commented on #178
Hi @theattic9 This is expected behavior of the cookbook for client upgrade.
Please refer details https://github.com/chef-cookbooks/chef_client_updater/issues/158#issuecomment-534033294.

Allowed exit is at https://github.com/chef-cookbooks/chef_client_updater/blob/master/providers/default.rb#L207

[2020-01-28 06:56] #178 closed

[2020-01-28 10:05] dheerajd-msys commented on #143
Hi @ALeonard9 Please check with latest cookbook **v3.8.2** .
As per my testing client is upgrading properly and daemon is also running.
[code]
Thanks!

[2020-01-29 11:57] dheerajd-msys commented on #176
Hi @rymurph20 I've checked with latest cookbook on Azure Ubuntu 16.04 Vm but didn't come across any such error. Please check once with latest cookbook.

However I am also going to try with cookbook v3.7.3.

[2020-01-31 06:51] dheerajd-msys commented on #143
Closing this issue based on https://github.com/chef-cookbooks/chef_client_updater/issues/143#issuecomment-579169746.
Please let us know if there is anything.

Thanks!

[2020-01-31 06:51] #143 closed

[2020-01-31 09:59] dheerajd-msys commented on #176
@rymurph20 We've checked with cookbook v3.7.3 on node and it is working fine on our end.
## Second run of the cookbook
[code]
P.S. We are running cookbook from node.

[2020-02-05 21:21] rymurph20 commented on #176
We've since downgraded the cookbook to get around the issue, I'll have some time in the next few days and will try to post more details. Thanks for following up!

[2020-02-05 23:33] lamont-granquist commented on #176
`default['chef_client']['config']['rubygems_url']` can't be used in this cookbook.

that'll cause ill-determined run time ordering problems based on which cookbook runs first in a particular users run_list ordering.  as a general rule no cookbook should be fiddling with other cookbook's attributes.

that can be done if the cookbook depends on the other cookbook, so that the run list ordering will

[2020-02-06 05:37] dheerajd-msys commented on #176
We've added attribute `default['chef_client']['config']['rubygems_url']` explicitly to this cookbook also in order to support local gem server so it can be used in this cookbook also if not used with `chef-client` cookbook.
https://github.com/chef-cookbooks/chef_client_updater/blob/master/attributes/default.rb#L63

[2020-02-07 00:52] lamont-granquist commented on #176
You cannot do that.  You're violating the namespacing rules for cookbook attributes.

[2020-02-07 00:59] lamont-granquist commented on #176
yeah this should use `default: lazy { Chef::Config[:rubygems_url] }` in the resource, and the attribute in the recipe should just be deleted.

[2020-02-12 20:11] webframp opened #179 "Eventlog restart should also restart dependent services previously stopped"
### Cookbook version
3.8.2

### Chef-client version
14.14.29

### Platform Details
Windows Server 2012R2

### Scenario:
Chef client upgrade between 14.13.11 to 14.14.29 with this cookbook leaves several dependent services in a stopped state, potentially causing an outage.

### Steps to Reproduce:
* With a Windows Server 2012R2 server, ensure DHCP Client,  Network Location Awareness, Network List S

[2020-02-13 04:45] BrandonTheMandon commented on #176
I created https://github.com/chef-cookbooks/chef_client_updater/pull/180 to hopefully resolve this

[2020-02-21 00:46] rolffujino opened #181 "rubygems_url must be a kind of [Symbol]!"
### Cookbook version
3.8.3

### Chef-client version
14.14.25

### Platform Details
CentOS 7 VM spun up by kitchen using virtualbox & vagrant.

### Scenario:
Running standards tests in vagrant kitchen to confirm that a cookbook that also includes the chef_client_updater cookbook converges and tests successfully.

### Steps to Reproduce:
Run the following resource against a CentOS 7 VM with the chef

[2020-02-21 01:12] tas50 commented on #181
3.8.4 includes the fix for this. Thanks for the report

[2020-02-21 01:12] #181 closed

[2020-03-02 06:31] dheerajd-msys commented on #176
Please refer https://github.com/chef-cookbooks/chef_client_updater/pull/180#issuecomment-592380300 in respect of @lamont-granquist above comments https://github.com/chef-cookbooks/chef_client_updater/issues/176#issuecomment-583183065 and https://github.com/chef-cookbooks/chef_client_updater/issues/176#issuecomment-583184795 .

[2020-03-06 04:40] tas50 commented on #176
The fix in #182 shipped in 3.8.5 today.

[2020-03-06 04:40] #176 closed

[2020-03-06 17:36] #179 closed

[2020-05-04 12:34] aalmenar opened #192 "Make cookbook compatible with using cinc"
It would be nice if this cookbook can play nice when using cinc-client also.

[2020-05-04 13:32] #192 closed

[2020-05-06 08:29] aalmenar opened #193 "Using version 3.10.0 still says cinc is an Unknown product name"
After seeing the release of version 3.10.0 went on to testing it and got the following error:

Cinc Client failed. 4 resources updated in 10 seconds
       [2020-05-06T08:23:40+00:00] FATAL: Stacktrace dumped to /tmp/kitchen/cache/cinc-stacktrace.out
       [2020-05-06T08:23:40+00:00] FATAL: Please provide the contents of the stacktrace.out file if you file a bug report
       [2020-05-06T08:23:40

[2020-05-07 12:10] dheerajd-msys commented on #193
@aalmenar Could you please share your recipe details? `Cinc` is not a valid product btw for this cookbook.

[2020-05-07 12:21] aalmenar commented on #193
@dheerajd-msys According to changelog on 3.10.0:

* Include cinc as an allowed product_name

There a no more recipe detail than:

recipes/default.rb:
include_recipe "chef_client_updater::default"

attributes/default.rb:
default["chef_client_updater"]["product_name"] = "cinc"
default["chef_client_updater"]["version"] = "16.0.257"
default["chef_client_updater"]["prevent_downgrade"] = true
default["c

[2020-05-07 13:51] dheerajd-msys commented on #193
My bad, We will take a look and get back to you.

Thanks for reporting the issue.

[2020-05-14 12:28] aalmenar commented on #193
After talking in slack on #commuity-distros added the following attribute and error does not appear:

default['chef_client_updater']['rubygems_url'] = "https://packagecloud.io/cinc-project/stable"

[2020-05-27 20:44] tas50 opened #201 "cron job creation operations fail on Fedora"
Fedora no longer has a crontab file:

[code]

[2020-05-29 22:37] MrCyrus opened #203 "License agreement not skipped when upgrading from chef-client v13 to v15"
Attribute setting:
   default['chef_client']['chef_license'] = 'accept'
is not working.

We've an environment with some old V13 chef-clients I'm trying to upgrade to v15 and though this cookbook does indeed upgrade to the specified version 15, the above line in an attributes/default.rb file is not working as expected.

When I manually run chef-client, chef_client_updater is killing the currently r

[2020-06-17 13:25] seeven-kathan opened #205 "chef not installing in same path as previous version"
Hello,

I am facing an issuer using chef_client_updater.
I have used the attribute ["chef_client_updater"]["chef_install_path"] to specify the path where chef is installed. Somehow, when the powershell(after chef create it on the machine) script doing the installation of the new version, is not taking any argument to point the install location.
the rendered command is as follows in the chef_upgrad

[2020-06-17 13:26] seeven-kathan commented on #203
Hello,
Having same issue.

Regards,
Seeven

[2020-06-19 05:08] seeven-kathan commented on #205
Hello,
anyone can help?
thanks,
Regards,
Seeven

[2020-06-22 20:45] jwdean opened #206 "No checksum validation of handle.zip"
When using chef_client_updater 3.10.1 on a Windows client there is no checksum integrity validation of the handle.zip file from SysInternals.

Request a checksum attribute that will validate the zip file downloaded from handle_zip_download_url matches. My specific installation has air-gaped nodes, but this may be equally valuable for non-air-gap installations.

Thanks

[2020-06-26 16:22] Quantum-Sicarius commented on #201
The same issue occurs on Fedora 32.

Fixed by installing:
`dnf install cronie cronie-anacron`

[2020-07-01 13:34] dheerajd-msys commented on #203
Hi @MrCyrus we are working on this issue, in the meantime could you please provide us the console log during chef-client execution?

Thanks

[2020-07-02 20:56] MrCyrus commented on #203
Some additional information that might help:
RHEL 6 - since this still uses /etc/init.d to start/stop services, during an upgrade this cookbook added an entry to root's crontab to run chef-client about 5 minutes after the chef-client run (giving it time to upgrade). The crontab entry had the correct accept license agreement. When the cron ran, it then removed itself from cron and the license agree

[2020-07-20 20:46] jgrenoble commented on #203
I just ran into this issue as well while running RHEL 7 and CentOS 7 and upgrading from 14.x to 15.11.8. I had node attributes set to accept the Chef license but it didn't seem to work as the chef-client service won't start presumably due to the license agreement.

Looking forward to PR being merged.

[2020-07-22 12:38] kmf commented on #203
same here would love the PR to be merged ....

Please @lamont-granquist you are a our only hope.

![please](https://user-images.githubusercontent.com/78700/88177302-ecb0f680-cc28-11ea-83c7-321ceb51ed63.gif)

[2020-08-11 20:30] jwdean opened #209 "The PowerShell to reschedule the upgrade does not work (Windows)"
When the chef_client_updater script's scheduled task runs, but is unable to proceed due to a running version of Ruby.exe, the task will fail to be properly rescheduled.

It is necessary to call
`$taskScheduler.Connect() `
prior to trying to use the $taskScheduler object, otherwise it is not initialized.

Additionally, and likely unrevealed due to this issue, is what seems like a logic fault.
The r

[2020-08-11 21:07] jwdean commented on #209
I have a proposed fix for this issue... once I'm able to push it.

[2020-08-13 07:18] dheerajd-msys commented on #209
It seems this is fixed via https://github.com/chef-cookbooks/chef_client_updater/pull/210

[2020-08-13 07:18] #209 closed

[2020-08-13 20:47] nicknameyu opened #211 ""cannot load such file -- highline" after upgraded."
I'm managing thousands of chef-clients. A recent chef upgrade was done by chef_client_updater version3.10.1 and the upgrade target is Chef 16.1.16.
Many Linux servers failed checking in to Chef after the upgrade. Found below logs in Chef client.log on these Linux servers.
[code]
chef-client on these linux servers are active.
Manually running "chef-client" command is successful.
Anyone can help?

[2020-08-25 17:16] #203 closed

[2020-09-02 08:03] Nirbhay1997 commented on #205
@seeven-kathan  Currently, we don't support installing chef-client on windows at a custom location, Even though we can force the MSI installer to change the installation directory to some other location but the resultant installation will be broken(Cannot be done by updating chef_client_updater)
Reference: https://github.com/chef-cookbooks/chef_client_updater/pull/80#issuecomment-353213646

[2020-09-02 17:11] #205 closed

[2020-09-02 17:12] tas50 commented on #205
Closing based on @Nirbhay1997's comment.

[2020-09-07 12:56] Nirbhay1997 commented on #211
Hey @nicknameyu , Can you please lend me more details (OS, Attribute file, or any other relevant detail ) as everything is working fine at my end.

[2020-09-07 19:18] nicknameyu commented on #211
Chef ticket was opened. Waiting for investigation

[2020-09-09 13:58] Nirbhay1997 commented on #211
Can you please share the details of the ticket created against this issue.?
Also, it would be great if you share any relevant information that may help in reproducing the issue.

[2020-09-11 12:09] Nirbhay1997 commented on #211
@nicknameyu
Tried running the cookbook(on chef-client 15 as well as 16) on centos 7.8 and Ubuntu 18.04 with update target including 16.1.16 and the latest but no error related to Highline is traceable.

[2020-09-11 13:03] nicknameyu commented on #211
Chef ticket: 25873

[2020-09-11 13:06] nicknameyu commented on #211
I couldn't stably recreate the problem either. But there were hundreds of servers impacted. Some RHEL7, some Ubuntu 1604. Not yet seen it on other OS versions, cause we don't have too many of other Linux Versions.

[2020-09-16 13:43] Nirbhay1997 commented on #193
verified with attribute default['chef_client_updater']['rubygems_url'] = "https://packagecloud.io/cinc-project/stable"
Working fine on my machine

`2020-09-16T17:36:45+05:30] WARN: No config file found or specified on command line. Using command line options instead.
Starting Cinc Client, version 15.14.0
[2020-09-16T17:36:47+05:30] WARN: Run List override has been provided.
[2020-09-16T17:36:47+05

[2020-09-16 13:43] #193 closed

[2020-09-16 13:49] Nirbhay1997 commented on #193
verified with attribute default['chef_client_updater']['rubygems_url'] = "https://packagecloud.io/cinc-project/stable"
Closing as Working fine

[2020-09-22 12:35] Nirbhay1997 commented on #201
@tas50
I was going through the documentation of fedora  [https://docs.fedoraproject.org/en-US/fedora/rawhide/system-administrators-guide/monitoring-and-automation/Automating_System_Tasks/](url)
`Fedora is pre-configured to run important system tasks to keep the system updated`

But its seems  we have to install it manually in the newer versions (as I checked on 32 and 31)
[https://docs.fedoraproje

[2020-11-28 07:44] timothyeckert opened #216 "Direct Download - Unable to contain self signed certificate"
Due to the use of the Chef Mix Lib install Library, direct downloads are unable to contain self signed certificates.

https://github.com/chef/mixlib-install/blob/master/lib/mixlib/install/generator/bourne/scripts/helpers.sh.erb

Download URL override specified
           /tmp/install.sh.3418/chef-14.15.6-1.el7.x86_64.rpm not found
           downloading https://<omited url>/chef-client/14.15.6-1/c

[2020-11-30 06:00] tas50 opened #217 "Require Chef Infra Client 12.5+"
We set the requirement of this cookbook to Chef Infra Client 11+ several years ago. That makes this cookbook rather difficult to maintain as it cannot be written as a simpler custom resource and we have to be incredibly defensive in our resource usage. Let's bump to 12.5+ now so we can use customer resources.

[2020-11-30 06:00] tas50 opened #218 "Remove support for ChefDK"
ChefDK support ends EOY 2020. Let's remove it from this cookbook.

[2020-11-30 06:06] tas50 opened #219 "Move the upgrade logic outside of Chef"
Having Chef upgrade itself is problematic and at this point we need to hit the reset button and try something different. Instead of having Chef determine if an upgrade is necessary and then run the upgrade we should have Chef determine if the upgrade is necessary and then kick off a script via a system scheduler to perform the upgrade.

- Lay down an upgrade script in /opt/chef_infra_updater or C:

[2020-12-04 17:01] arunbt opened #220 "Chef client update fails on windows 7 citrix VDIs"
Post_install action not supported for chef client running forked . Changing to kill forcing chef exit. Never installs new version but always renames chef folder under opscode to chef.upgrade.

Kindly help , if this is expected.

Version update from 15.314 to or 15.9,  16.x fails on citrix windows 7 VDi's

[2020-12-09 13:38] dheerajd-msys commented on #201
@tas50 Per your comments in the PR here https://github.com/chef-cookbooks/chef_client_updater/pull/215#issuecomment-717358340 it seems we need not to work on this issue and this issue needs to be closed. Please confirm if I understood it correctly.

[2020-12-10 13:52] dheerajd-msys commented on #211
Tried from my end to reproduce the issue on Ubuntu and Rhel7 with latest version of the cookbook but issue is not getting reproduced.
@nicknameyu could you please share some environmental details like some other cookbooks you are using prior to running this updater cookbook which might have impact on the following execution?

[2020-12-14 07:38] dheerajd-msys commented on #211
@nicknameyu Based on the ticket created against this issue per your comment https://github.com/chef-cookbooks/chef_client_updater/issues/211#issuecomment-691082262 i.e. ticket [25873](https://getchef.zendesk.com/agent/tickets/25873)

and comment on the same ticket  ```Dina worked with the customer to recreate their issue. Their issues seem to be environmental as not even they can reproduce it (and

[2020-12-14 07:38] #211 closed

[2020-12-14 19:21] tas50 commented on #201
This issue really just points out a larger flaw in how we're accomplishing product updates that needs to be solved in a more holistic fashion. We could just make sure cron is installed, but the real problem is we shouldn't rely on cron in 2020 on Linux platforms.

[2020-12-14 19:21] #201 closed

[2021-02-11 22:47] mbaitelman opened #221 "Cookbook removes scheduled task"
I'm using the cookbook v3.11.1 on Windows Server and when running it's removing the chef-client task from the chef-client cookbook.

Below is the log of the run that called the update..
Please let me know what other data I can provide.

Thank you.

[code]

[2021-02-18 21:19] jgh9 commented on #74
Were you able to resolve this issue? I am experiencing similar issues, however at this time I deployed a new instance to shift client from 14.10.9 to 16.8.14 and Chef_upgrade task is not executed, and system is idle. It has been this way for over two hours.

[2021-02-24 20:13] Ademi1 opened #222 "Chef upgrade failing in windows10 version 2004 and later"
The upgrade process seems to be failing at the powershell script that restarts eventlog on Windows10 version 2004 and later with this error:

"Collection was modified; enumeration operation may not execute"

leaving us with a chef.broken directory due to file locks. It might be worth looking into restarting eventlog before the upgrade process for windows such that there wouldn't be a chef.broken d

[2021-02-26 16:32] jgh9 commented on #221
I've run into this, as well, however this seems more likely to be a post-action for msi de-installation. That being said, it would be great if this cookbook was able to preserve this task and re-create it as part of the Chef_upgrade scheduled task.

[2021-03-02 03:55] mbaitelman commented on #221
Interesting.
In that case, I would be ok closing out this issue though I would like to know what is the suggested flow for upgrading on windows when using both this and the chef-client cookbook.

[2021-03-02 04:50] jgh9 commented on #221
In our case, we are updating chef-client attributes to install task as a differently name task.  For a relatively short period of time both tasks are present.  Rolling this out.  Then another rollout using updater cookbook in dependency list to process upgrade, which should process and remove chef-client names task with uninstall of client.

[2021-04-13 21:21] btm opened #226 "Cookbook hands when upgrading on Solaris"
Chef Infra 15.x,16.8.9, 16.9.16
Platform: solaris2 version 5.11
chef_client_updater: 3.11.1
Customer issue: https://github.com/chef/customer-bugs/issues/299

Upgrading by hand works fine, when upgrading with the cookbook it is hanging at:

[code]

[2021-04-21 05:16] jaymzh opened #227 "Assumes `C:\opscode` exists"
The cookbook tries to write to `C:\Opscode`, but that doesn't exist (cinc for example installs in `c:\cinc-project`)

[2021-04-21 05:26] jaymzh opened #228 "Calls mixlib-install even when `download_url_override` is set"
If you're on chef 15 and thus have a mixlib-install that doesn't understand the `cinc` product, and set `product_name 'cinc'`, while also setting `download_url_override` you'll mixlib-install blowing up because `cinc` is not a valid product. :/

You can set it to `chef` - various parts of the upgrade script will blow up with things like:

[code]

but the upgrade will be otherwise successful. But w

[2021-04-23 13:11] ayushbhatt29 commented on #226
While using chef-client-updater cookbook i am facing the following error
[code]
Any thoughts on how I can pass in either the `--no-check-certificate` or find a way to do this securely, in Solaris while using chef-client updater cookbook?

When faced the same error while bootstrapping the solaris vm i used this bootstrap option `--bootstrap-install-command 'sudo wget https://packages.chef.io/files/

[2021-06-06 11:08] whyte624 opened #232 "Create Tag 3.12"
Please, create release for tag 3.12.

[2021-08-30 15:15] rmcleod8 commented on #228
this also happens with chef-client 14 -> cinc

[2021-09-21 23:42] jeffbyrnes commented on #232
Also, publish 3.12.0 to the Supermarket

[2021-09-21 23:42] jeffbyrnes commented on #232
@tas50 ^^

[2021-09-23 09:21] ChefAustin opened #237 "Deprecation warning for `unified_mode`"
This cookbook is currently throwing a deprecation warning on v17 Chef client:
[code]

[2021-11-05 17:07] petracvv opened #239 "Latest release contains mac underscore files"
This is a similar issue to chef-boneyard/sudo#156

The latest release contains ._ files in the tar archive that is available on supermarket.chef.io. When extracting this archive on a Mac, the BSD tar command there ignores those files when extracting into the cookbook cache causing policyfile checksums to be generated incorrectly. This causes errors when trying to run the policy on machines/OS's th

[2021-11-08 14:09] pdohertybcov commented on #239
I'm also seeing this same error with the latest (3.12.1) release.

[2021-11-09 05:59] tas50 commented on #237
This has been resolved

[2021-11-09 05:59] #237 closed

[2021-11-11 00:35] tas50 commented on #239
I've released 3.12.2. Let me know if that resolves the problems

[2021-11-11 16:31] petracvv commented on #239
I am no longer seeing policyfile errors with the latest version so i think this is fixed.

[2021-12-08 19:26] EMH333 commented on #237
This should be reopened given the incorrect placement of `unified_mode` in the provider and the subsequent revert in #242

[2022-04-19 00:01] DecoyJoe commented on #227
This is fixed in #243

[2022-04-26 06:56] pratixha commented on #205
With reference to @Nirbhay1997's comment  #https://github.com/chef-cookbooks/chef_client_updater/issues/205#issuecomment-685427918
We have updated documents in #244

[2022-05-06 02:43] HironariYo opened #246 "The exec_command value cannot be overridden"
README mentions it is available to define exec_command for our purpose, but there is no attribute to override the command.

When we upgrade Chef to Cinc using this cookbook, script cannot find the cinc-client path  `c:\cinc-project\cinc\embedded\bin\cinc-client`. This can be avoidable if we override with the new value of `exec_command`, bit it is not adjustable now.

[2022-05-31 19:53] #227 closed

[2022-07-08 19:47] nielsbuus opened #247 "Provide basic authentication when using download_url_override?"
Not sure if this is a feature request or me unable to spot the correct approach, but it seems like the option to use a custom url for the installer assumes that the webserver does not require authentication. For my environments, the webserver will be a Nexus and each repository will require authentication.

So my question is - is there support for either poviding basic authentication or alternativ